[2021-09-06 01:48] edwazhao opened #1 "sign up and repeat-password too close"
sign up and repeat-password too close to show error text

https://d33pspace.github.io/RenewalMgtApp-Html/app/sign_up.html

![image](https://user-images.githubusercontent.com/11383105/132149307-ba6dca5d-bbc4-4a06-8ca3-c94cd9a5afab.png)

[2021-09-06 01:50] edwazhao opened #2 "Take page save icon is not changed"
https://d33pspace.github.io/RenewalMgtApp-Html/app/take_page.html
1:
![image](https://user-images.githubusercontent.com/11383105/132149394-c5056ccf-9263-4a2e-b841-a88bea6080a6.png)
![image](https://user-images.githubusercontent.com/11383105/132149484-cae0eb5e-5b60-4bc9-a599-7a080210c6df.png)

2: we need the trash icon
![image](https://user-images.githubusercontent.com/11383105/132149734-9ded571f-6

[2021-09-06 01:56] edwazhao opened #3 "forgot_password error message not in red and button name is not correct"
https://d33pspace.github.io/RenewalMgtApp-Html/app/forgot_password.html

![image](https://user-images.githubusercontent.com/11383105/132149861-2c261de6-d17d-41ed-afdf-f9f4d4ae07f7.png)

[2021-09-06 02:22] edwazhao opened #4 "new item page with many item types, not user-friendly"
When there are more than 10 item types in the dropdown list which is true to our system, the page's height changed a lot, is it reasonable to make a scrollbar for the dropdown list like red marked in the picture?

![image](https://user-images.githubusercontent.com/11383105/132151485-4ab9df4b-3f5e-4e27-ba1c-de38a2b17c7b.png)

[2021-09-06 05:10] d33pspace opened #5 "Item Catalogue"
How do you open the Edit Item page from the Item Catalogue?

![Screenshot 2021-09-06 130945](https://user-images.githubusercontent.com/13606352/132163670-fe6ffe39-b645-4908-8a96-991a3ea5fa16.png)

[2021-09-06 08:07] d33pspace opened #6 "Update role with dropdown"
This Figma mock-up has been updated with role as a dropdown - please update the HTML template.

![Screenshot 2021-09-06 160632](https://user-images.githubusercontent.com/13606352/132182555-217ca9e1-ced0-4d10-a695-6a8c06db4202.png)

[2021-09-06 08:10] d33pspace opened #7 "Loader page"
We just need a loader page with a spinner like this in the middle: https://uxfan.com/vue-easy-spinner/

I like the circular spinner. And we can use our logo color which is:
R: 209
G: 18
B: 65

[2021-09-06 14:58] edwazhao opened #8 "Do we have user list html?"
![image](https://user-images.githubusercontent.com/11383105/132235608-ea2fa8ed-1f24-4703-81e2-6cf46bf13eb2.png)

[2021-09-06 16:01] MariiaBubley commented on #4
Hello, @edwazhao
yes, sure! I even made relevant components in Figma, with search and without:
![image](https://user-images.githubusercontent.com/89512026/132242253-e51c24ec-063b-48fc-b51c-2b986d0725c2.png)

[2021-09-06 16:02] MariiaBubley commented on #5
when user taps on item line
![image](https://user-images.githubusercontent.com/89512026/132242466-944e1d08-f09d-496c-928d-ddee6dde4239.png)

[2021-09-07 01:20] d33pspace commented on #5
@edwazhao Please comment with any further questions or close the issue.

[2021-09-07 01:22] d33pspace commented on #4
@academws Please update the HTML templates accordingly.

[2021-09-07 01:23] edwazhao commented on #4
Hi @MariiaBubley , thank you for the changes, it looks nice.

[2021-09-07 01:26] d33pspace opened #9 "Give page"
Please see comment 71 in Figma for further details.
![image_2021_09_06T15_51_44_366Z](https://user-images.githubusercontent.com/13606352/132270474-ee7ff9a0-b454-4de2-ae6f-4488cfee8b89.png)

[2021-09-07 01:28] d33pspace opened #10 "Account page - align modal window"
![Screenshot 2021-09-07 092739](https://user-images.githubusercontent.com/13606352/132270603-942367e7-35b3-4921-ba24-26e210125845.png)

[2021-09-07 01:29] d33pspace opened #11 "Behavior overview - padding"
![Screenshot 2021-09-07 092858](https://user-images.githubusercontent.com/13606352/132270687-d3e4560a-9ff8-4814-abe2-f9ead94bff26.png)

[2021-09-07 01:31] edwazhao commented on #5
Hi @MariiaBubley , yes, user can click the item catalogue, what if the T-SHIRT has more than one items, like short-sleeve t-shirt and long-sleeve t-shirt, how to decide which item is the use want to edit?
![image](https://user-images.githubusercontent.com/11383105/132270627-fd98c8f0-1ecf-4225-a865-6e52a1edcf62.png)

[2021-09-07 01:34] d33pspace opened #12 "Main page - sidebar"
![edit-3](https://user-images.githubusercontent.com/13606352/132270980-8cd3a988-2701-47c3-8059-af54d72aaa20.jpg)

[2021-09-07 01:35] d33pspace opened #13 "Main page - gap in open menu"
![edit-4](https://user-images.githubusercontent.com/13606352/132271008-e53741ab-a342-4fbd-ae2e-c55ff0f5528a.jpg)

[2021-09-07 01:36] d33pspace opened #14 "New Guest - input styles"
![Screenshot 2021-09-07 093536](https://user-images.githubusercontent.com/13606352/132271088-4c289dd2-ad59-40cd-bf7a-0544aa4475fc.png)

[2021-09-07 01:37] d33pspace opened #15 "New item - align modal window"
![Screenshot 2021-09-07 093656](https://user-images.githubusercontent.com/13606352/132271172-1c4962d2-02fd-42a2-b696-8fe39ee6b12f.png)

[2021-09-07 01:38] d33pspace opened #16 "Reports - change header color"
![Screenshot 2021-09-07 093728](https://user-images.githubusercontent.com/13606352/132271223-429e3d7e-6f04-44b5-a25f-715f1d498dc7.png)

[2021-09-07 01:42] d33pspace opened #17 "Main page"
![Screenshot 2021-09-07 094107](https://user-images.githubusercontent.com/13606352/132271511-b030519a-3961-4298-8023-636b2c84ac82.png)

[2021-09-07 01:43] d33pspace opened #18 "Reports page - add padding before title"
![Screenshot 2021-09-07 094231](https://user-images.githubusercontent.com/13606352/132271582-19b7ec79-ebf2-4fbc-b8c4-0ed0837a2d22.png)

[2021-09-07 01:44] d33pspace opened #19 "Return page - fix background shear and FAB animation"
![Screenshot 2021-09-07 094330](https://user-images.githubusercontent.com/13606352/132271662-e102ffd0-c833-47af-a820-1c1364cd09d3.png)

[2021-09-07 01:45] d33pspace opened #20 "Service settings, add [+] and [-]"
![Screenshot 2021-09-07 094434](https://user-images.githubusercontent.com/13606352/132271766-6c3c139a-cc47-46be-8bef-b015c451787a.png)

[2021-09-07 01:47] d33pspace opened #21 "Take page - change font"
![Screenshot 2021-09-07 094635](https://user-images.githubusercontent.com/13606352/132271851-b25ba526-0089-42ba-9833-e1d7468a78d9.png)

[2021-09-07 01:52] d33pspace commented on #7
@edwazhao Loader page has been added. If it's suitable please close this issue.

[2021-09-07 05:16] edwazhao commented on #7
Hi @d33pspace , sure, please also update the index.html

[2021-09-07 05:16] #7 closed

[2021-09-08 07:50] d33pspace commented on #14
@MariiaBubley This has been updated, please check.

[2021-09-08 07:50] d33pspace commented on #20
@MariiaBubley This has been updated. Please take a look.

[2021-09-08 07:51] d33pspace commented on #12
@MariiaBubley The front-end developer's comment is: "from right to left the developer cannot create the animation here - you have a wrapper on the desktop. It means there are gray fields on the sides, and it will move from the end of the side." Can you review and comment please?

[2021-09-08 07:52] d33pspace commented on #11
@MariiaBubley Comment from the front-end designer is: "you fixed it, it was 8 in the design. Now you want us to do 16, but the developer sees 24 in the design. What is the size right?"

[2021-09-08 07:53] d33pspace commented on #9
@MariiaBubley The comment from the front-end designer is "The designer completed this item, but there is one modal window for the full page. There is no separate modal window for each product."

[2021-09-08 13:56] MariiaBubley commented on #5
We decided with Jimmy before, t-shirt, shirt, pants et. - are the types of items. They are countable and added in the database by developer. Sleeveless, short-sleeve, long-sleeve et. - are the titles of items and name by admins(user) from New Item page https://d33pspace.github.io/RenewalMgtApp-Html/app/new_item.html
![image](https://user-images.githubusercontent.com/89512026/132522699-b2bcc4c9-702

[2021-09-08 13:58] MariiaBubley commented on #9
@d33pspace sorry, but I don't understand this comment.

[2021-09-08 14:09] MariiaBubley commented on #11
@academws here we use component (from page 🦄Organisms) - this component has inner padding - 8px. But page margin is 16px, so 8px+16px=24px. Please look at the mockups more attentively.
![image](https://user-images.githubusercontent.com/89512026/132523873-8872214c-9f05-4a14-bc49-5a948bd3b519.png)

[2021-09-08 14:13] MariiaBubley commented on #12
@academws  as I know, possible to make different kind of animation. And I also don't understand why there are grey fields? It is not correct and you should remove them.

[2021-09-08 14:14] MariiaBubley commented on #14
@d33pspace yes, now it is fine

[2021-09-08 14:15] MariiaBubley commented on #20
@d33pspace done

[2021-09-09 02:48] d33pspace commented on #21
@MariiaBubley I do not see a smaller font in the mockup, can you please provide a screenshot?

Take page: https://d33pspace.github.io/RenewalMgtApp-Html/app/take_page.html

[2021-09-09 02:51] d33pspace commented on #19
@MariiaBubley This appears to be fixed - can you confirm?

Return page: https://d33pspace.github.io/RenewalMgtApp-Html/app/return_page.html

[2021-09-09 02:52] d33pspace commented on #18
@MariiaBubley This appears to be fixed. Please confirm:

Reports - Main: https://d33pspace.github.io/RenewalMgtApp-Html/app/reports_main.html

[2021-09-09 02:54] d33pspace commented on #17
@MariiaBubley I believe this is fixed, but I only tested Behavior overview page. Can you please confirm:

Behavior overview: https://d33pspace.github.io/RenewalMgtApp-Html/app/reports_behavior_overview.html

[2021-09-09 02:56] d33pspace commented on #16
@MariiaBubley This is fixed, please confirm (I only tested reports_behavior)

Reports - Behavior: https://d33pspace.github.io/RenewalMgtApp-Html/app/reports_behavior.html

[2021-09-09 02:58] d33pspace commented on #15
@MariiaBubley Looks good to me, please confirm:

New Item page: https://d33pspace.github.io/RenewalMgtApp-Html/app/new_item.html

[2021-09-09 02:58] #14 closed

[2021-09-09 02:59] d33pspace commented on #13
@MariiaBubley This looks good to me now. Please check:

Main page: https://d33pspace.github.io/RenewalMgtApp-Html/app/main_page.html#

[2021-09-09 03:01] d33pspace commented on #12
@MariiaBubley Hi Mariia... I believe the gray fields (on right and left) are to accommodate use on desktop. They should be visible only on large browser size. What do you think about bottom to top animation instead of top to bottom?

[2021-09-09 03:07] d33pspace commented on #10
@MariiaBubley I cannot find how to reproduce this page in the HTML templates. Can you please check, and if it is not corrected, please provide a link to the HTML template from this menu: https://d33pspace.github.io/RenewalMgtApp-Html/app/

[2021-09-09 03:10] d33pspace commented on #9
@MariiaBubley I think this means the modal window is only a template and does not contain dynamic information. Can you confirm that style is correct, but do not mind if the modal window has the correct content.

Giving list: https://d33pspace.github.io/RenewalMgtApp-Html/app/give_page.html

[2021-09-09 03:11] d33pspace commented on #8
@edwazhao There appears to be Users list now. Is this what you were looking for?

Users list: https://d33pspace.github.io/RenewalMgtApp-Html/app/users_list.html

[2021-09-09 03:14] d33pspace commented on #6
@edwazhao This appears to have been updated. Can you confirm this is acceptable?

Edit user profile: https://d33pspace.github.io/RenewalMgtApp-Html/app/edit_user_profile.html

[2021-09-09 03:19] d33pspace commented on #5
Hi @edwazhao ... if I understand your meaning correctly, perhaps it is not clear how to edit items inside of types? There needs to be a way to edit both types and items. There also needs to be a way to add items, but not types. I believe we agreed that Types are hard-coded. Users cannot edit them.

[2021-09-09 03:21] d33pspace commented on #4
@edwazhao I do not see in our HTML templates which one I can test to see if this work has been done. Can you provide a link please?

[2021-09-09 03:23] d33pspace commented on #3
@edwazhao Can you check to see if this has been done. I don't believe I can test myself on the templates. If it has not been done I will remind them today.

[2021-09-09 03:24] d33pspace commented on #2
@edwazhao I'm not sure what's going on here. Can you check to see if changes have been made and if not, explain clearly what the issue is (and how to test using the templates, if possible).

[2021-09-09 03:26] d33pspace commented on #1
@edwazhao I can't test the error message but this page seems to have been updated. Can you test and confirm?

Sign up: https://d33pspace.github.io/RenewalMgtApp-Html/app/sign_up.html

[2021-09-09 07:23] d33pspace commented on #4
@MariiaBubley Question from FD: This function is needed only a new item page or something else?

[2021-09-09 07:29] d33pspace commented on #2
Question from @academws Can you explain to me the logic and appearing the check and trash icon, please?

- If the pencil is tapped, the user can edit the laundry tag number (in this case 336).
- When the pencil is tapped, the pencil should turn to a check. When the check is tapped, editing is complete and the pencil reappears.
- The trash can turns red when it is tapped. This means an item (in thi

[2021-09-09 07:31] d33pspace opened #22 "Font for links"
Hi @MariiaBubley ... question from FD... The Public Sans font is used here. Do I understand right?

![kiss_26kb 1631139091](https://user-images.githubusercontent.com/13606352/132642395-8d17eedd-07e0-4a10-9f8f-9e1b975ea1a8.png)

[2021-09-09 09:03] edwazhao commented on #1
Thank you for fixing it.

[2021-09-09 09:03] #1 closed

[2021-09-09 09:07] edwazhao commented on #3
thank you for fixing it.

[2021-09-09 09:07] #3 closed

[2021-09-09 09:15] edwazhao commented on #4
@d33pspace , yes, please check https://d33pspace.github.io/RenewalMgtApp-Html/app/new_item.html
From my point of view the style should apply for all dropdown list.

@academws , thank you for adapting it, still a minor issue, if we click Distribution Policy first, and then click Item Type, the Item Type will be covered.
![image](https://user-images.githubusercontent.com/11383105/132658507-5fea7868-

[2021-09-09 09:18] edwazhao commented on #6
Thanks.

[2021-09-09 09:18] #6 closed

[2021-09-09 09:19] #8 closed

[2021-09-09 09:32] edwazhao commented on #5
Hi @d33pspace , yes, the Types and initial Items will be imported to database automatically, the data is coming from Miro https://miro.com/app/board/o9J_ko0nJTY=/.

And yes, my question is how to edit items inside of types, is it allowed or not?
There are different naming here and there, I would like to confirm with you

the name under Policy is called： Types, Item Types, Item catalogue, right?
th

[2021-09-09 13:17] edwazhao commented on #9
Hi @d33pspace , I also have some doubts about this page, I know I asked it before, but I'm afraid to miss something so want to get it clarified

The number behind the Type, it means how many items the guest received last 30 days, and if the number greater than the policy it become red, right?
![image](https://user-images.githubusercontent.com/11383105/132692101-04cbae81-5650-4f64-980b-b99696bff0dd

[2021-09-10 01:55] d33pspace commented on #9
Hi @edwazhao Yes, to my knowledge your understanding is exactly correct here. However, the sample data is misleading, if the distribution period was April 1 to April 14 there would not be items appearing in May. @MariiaBubley Can you please also confirm Edward's questions here (and also confirm the template design as mentioned above).

[2021-09-10 02:03] edwazhao opened #23 "Search and sort"
1. There are two entry point can go to GuestList, see screenshot below, will the different entry point change the behavior of the guest list?
![image](https://user-images.githubusercontent.com/11383105/132786760-5413999d-3ac0-4064-b4b6-dc538d1c21da.png)

2. There are three possible pages to go when user **click** one guest in the Guest List
    a. Add the guest to waiting list https://d33pspace.gi

[2021-09-10 02:08] d33pspace commented on #5
Hi @edwazhao ...

1. The "Item Catalogue" contains "Types" and "Types" contain "Items."
2. Types name and icon cannot be modified, but the distribution policy for the type can be updated by editing any item that belongs to it.
3. If a Type contains Items, Users can only distribute Items to Guests.
4. If a Type does not contain Items (for example, "Shorts"), Users can distribute the Type to Guests.

[2021-09-10 02:25] d33pspace commented on #23
1. I believe this is correct, @MariiaBubley please confirm.
2. Your understanding here is not quite right. I think the graphic below should explain.
     a. Tapping on someone in the In-Service list begins the service process (if an open laundry tag exists, the Return page is opened, or if an open laundry tag does not exist, the Give page is opened).
     b. If there is a vacancy in the In-Service

[2021-09-11 06:08] d33pspace commented on #11
@MariiaBubley This page has been updated, please confirm the edits are correct.

Behavior overview: https://d33pspace.github.io/RenewalMgtApp-Html/app/reports_behavior_overview.html

[2021-09-12 09:57] MariiaBubley commented on #11
👌🏼

[2021-09-12 10:00] MariiaBubley commented on #23
@edwazhao 1. This is correct, 2. Is this case is clear now?

[2021-09-12 10:02] MariiaBubley commented on #22
@d33pspace oh, no! this is a mistake! We use only Noto Sans

[2021-09-12 10:06] MariiaBubley commented on #21
@d33pspace now in this link (https://d33pspace.github.io/RenewalMgtApp-Html/app/take_page.html), everything is correct. But on the screenshot was a bigger font.

[2021-09-12 10:07] MariiaBubley commented on #19
@d33pspace yes, now this background looks fine

[2021-09-12 10:08] MariiaBubley commented on #18
👌🏼

[2021-09-12 10:24] MariiaBubley commented on #17
@d33pspace Users also have to open with a tap on the user's line.
![image](https://user-images.githubusercontent.com/89512026/132983673-19dce5ed-16eb-4c05-a1d0-f6bc3072ff1e.png)
https://d33pspace.github.io/RenewalMgtApp-Html/app/users_list.html

all item's lines too (in all pages
![image](https://user-images.githubusercontent.com/89512026/132983718-81f0207e-cb14-4add-b3af-20765feee6a8.png)
https:/

[2021-09-12 10:26] MariiaBubley commented on #19
@d33pspace But here still a problem
![image](https://user-images.githubusercontent.com/89512026/132984055-966775c2-f35b-4079-a147-86a15be1cce4.png)
https://d33pspace.github.io/RenewalMgtApp-Html/app/give_page.html

[2021-09-12 10:27] MariiaBubley commented on #16
👌🏼

[2021-09-12 10:28] MariiaBubley commented on #15
cool

[2021-09-12 10:29] MariiaBubley commented on #13
ok, but sidebar can be better

[2021-09-12 10:33] MariiaBubley commented on #12
@d33pspace If you ok with it, I agree)

[2021-09-12 10:33] MariiaBubley commented on #11
But there still is a problem
https://d33pspace.github.io/RenewalMgtApp-Html/app/guest_profile_behavior.html

[2021-09-12 10:37] MariiaBubley commented on #10
@d33pspace I can't find it too. This page is a User profile
https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=570%3A2851

[2021-09-12 10:45] MariiaBubley commented on #9
@edwazhao @d33pspace Yes, there is my mistake in the text. I fixed this mockup: Now modal show only one kind of item Short-sleeve button-down shirt and correct dates (only during the specified period )
![image](https://user-images.githubusercontent.com/89512026/132984439-a7a386fa-d872-4f12-9500-3da49c7b236b.png)
If the user tap on another kind of item - a Long-sleeve button-down shirt﻿ - the relev

[2021-09-12 10:55] MariiaBubley opened #24 "Unify headers"
@d33pspace I thought that the screens should be fixed in height and scroll inside a fixed container. Also, all headers can be fixed on the page, so the application will look neater.

Now
https://d33pspace.github.io/RenewalMgtApp-Html/app/item_catalogue.html#

My proposal:
https://drive.google.com/file/d/1CCcHQ_OjWfLYc9BtTCYmj4gKW71HAJXe/view?usp=sharing

@d33pspace What do you think?

[2021-09-12 13:03] edwazhao commented on #23
Hi @d33pspace , @MariiaBubley , yes, these helps with main page, but actually I was asking the behavior of **Guest List**
Normally we tap a guest line in Guest List, will open Guest Profile page, right?
My questions are following:
1. How to add a guest to the waiting list? is it by tapping a guest line in Guest List?
2. How to open edit guest profile page? Do we have the edit button in view Guest

[2021-09-12 13:53] edwazhao commented on #5
Hi @d33pspace ,
Yes, from my perspective, there is a logical problem, Types name and icon cannot be modified, but a Type can be edited if  it does not contain an Item.
I would like to make the logical easy to understand
1. Types name and icon cannot be modified
2. if Type does not contain an Item, we have to add a Item to the Type to modify the distribution policy
To move one more step further, I

[2021-09-12 14:00] edwazhao commented on #9
Hi @MariiaBubley , the distribution period April 1 ~ April 14 above, is it relevant to distribution policy, or it should be always displayed as last 30 days or 14 days?

[2021-09-13 02:25] d33pspace commented on #22
@academws @AnKar112 Please change this font to Noto Sans.

[2021-09-13 02:26] #21 closed

[2021-09-13 02:28] #18 closed

[2021-09-13 02:29] d33pspace commented on #17
@academws Please fix tap on line response for the six additional pages here.

[2021-09-13 02:30] #16 closed

[2021-09-13 02:30] #15 closed

[2021-09-13 02:30] #13 closed

[2021-09-13 02:32] d33pspace commented on #11
@academws Please fix margin spacing on guest_profile_behavoir.html

[2021-09-13 02:35] d33pspace commented on #4
@academws As Edward points out above, on this page if you click on Distribution Policy then click on Item Type, the Item Type is hidden.

[2021-09-13 02:50] d33pspace commented on #24
@MariiaBubley I see. Your proposal is nice. This demonstrates a header fixed on the page.

Questions:

(1) Are headers on all pages the same height?
(2) I do not know what you mean by "screens should be fixed in height and scroll inside a fixed container." Can you demonstrate please?

[2021-09-13 03:09] d33pspace commented on #23
@edwazhao Ah. I see...

(2) Concerning editing the Guest profile, I see "Edit" in the upper right-hand corner of guest_profile.html. Does this answer this question?

Aha! You are asking about the process of adding a Guest to the Waiting List on the main page. I also need to clarify with Mariia...

@MariiaBubley

(1) On the Main page, the User taps the FAB to search for a Guest to add to the Waitin

[2021-09-13 03:16] d33pspace commented on #19
@MariiaBubley I see the misalignment in your screenshot, but I cannot reproduce it. See my screenshots from desktop and mobile below. These look correct to me. Can you provide more information on how to reproduce the misalignment you are seeing so we can research further?

![Screenshot 2021-09-13 111324](https://user-images.githubusercontent.com/13606352/133018716-62e35435-8063-4c6a-9bec-e821819de

[2021-09-13 03:17] edwazhao commented on #23
Thanks Jimmy, now I see the Edit button on Guest Profile.

[2021-09-13 03:19] d33pspace commented on #10
@academws Can you please confirm the alignment of the modal window was corrected? If possible, please demonstrate how to test this easily. If not, for this simple matter your confirmation is acceptable.

[2021-09-13 03:25] d33pspace commented on #9
@MariiaBubley I love this modal that pops up here to give the User a quick view of the distribution history of the Item. I actually think if it could contain the full last 12 months of distribution history instead of only according to the distribution policy it would be very nice. And if there is a policy violation perhaps those lines could be in alert color. What do you think?

[2021-09-13 03:32] d33pspace commented on #5
Hi @edwazhao Got it.

If we agree that each Type contains at least one Item, there are times with the interface of the app that it would be a wasteful step to expand the Type to see only one Item. So in those cases, to the User it would look like they can give an Item to the Guest (as long as the Type has only one Item in it). Is this reasonable?

If so, I think the same should apply here. The use

[2021-09-13 11:49] edwazhao commented on #5
Hi @d33pspace , yes, I agree, then we need to expand it if there are more items available in the Type, currently we don't have this function, right?

[2021-09-14 02:10] d33pspace commented on #5
@MariiaBubley In the item catalogue ( https://d33pspace.github.io/RenewalMgtApp-Html/app/item_catalogue.html ) it seems we need a way to expand Types to display Items when Items need to be edited. Would you agree? (If a Type contains no Items, the Type can be edited directly.)

[2021-09-14 02:17] d33pspace opened #25 "Security advisories"
Hi there! Please check out these security vulnerabilities when possible...
![Screenshot 2021-09-14 101638](https://user-images.githubusercontent.com/13606352/133183618-15c3d9d7-12ed-42af-b49c-bc64f5190b69.png)

[2021-09-14 07:36] edwazhao commented on #25
Hi @d33pspace , seems I don't have this view
![image](https://user-images.githubusercontent.com/11383105/133215451-e118411c-3021-4609-ad2b-fe2444de4567.png)

[2021-09-14 07:39] edwazhao commented on #5
Hi @d33pspace , to your comment above:  (If a Type contains no Items, the Type can be edited directly.)
should we only make policy editable?

[2021-09-14 10:35] d33pspace commented on #12
The menu animation has been updated from top to bottom (thank you!) but I am leaving this issue open until the tablet container discussion is resolved (#24).

[2021-09-14 10:44] d33pspace commented on #2
Hi @AnKar112 @academws These changes look nice, thank you!

However, for me, when the input field appears, it extends beyond the page into the grey frame. And actually, the laundry tag is maximum three characters, for example, 999. Please make the input field shorter.

![Screenshot 2021-09-14 183659](https://user-images.githubusercontent.com/13606352/133243718-ef5dbfb3-41dc-418e-8b84-592a9b96a479.

[2021-09-14 10:45] d33pspace commented on #4
@edwazhao This is fixed. Can you confirm everything is to your liking?

[2021-09-14 10:45] d33pspace commented on #11
@MariiaBubley This is fixed. Please confirm.

[2021-09-14 10:50] d33pspace commented on #25
I believe it is @AnKar112 @academws that should make this update? Here is the full information...

![Screenshot 2021-09-14 184853](https://user-images.githubusercontent.com/13606352/133244735-6654b8d7-9c75-41ca-8027-48bcfa3898ec.png)
![Screenshot 2021-09-14 184913](https://user-images.githubusercontent.com/13606352/133244742-77e36f36-ca14-48fc-9d62-79ee7fe3c0bc.png)
![Screenshot 2021-09-14 184930]

[2021-09-14 10:53] d33pspace commented on #22
@AnKar112 @academws Can you please point out this template so we can verify? Thank you!

[2021-09-14 10:58] d33pspace commented on #5
I believe "Can be washed" may be hardcoded so we do not need to make that editable, but ideally, we could edit "Active item" because, for example, we could turn that off in the winter.

[2021-09-14 11:10] d33pspace commented on #17
https://d33pspace.github.io/RenewalMgtApp-Html/app/users_list.html
- tap on line opens user profile

https://d33pspace.github.io/RenewalMgtApp-Html/app/item_catalogue.html
- tap on line opens edit item

https://d33pspace.github.io/RenewalMgtApp-Html/app/return_page.html#
- tap on line checks box (but trash and lost can be tapped on also)

https://d33pspace.github.io/RenewalMgtApp-Html/app/take_pag

[2021-09-14 16:29] AnKar112 commented on #2
Can you provide me screen resolution? I couldn't recreate inout width issue.
I make max length of field 4 symbols (tag + hash)

[2021-09-14 16:32] AnKar112 commented on #22
You can find it at the bottom of index page http://ipic.su/img/img7/fs/kiss_17kb.1631637102.png
Then click this button http://ipic.su/img/img7/fs/kiss_24kb.1631637130.png

[2021-09-14 16:39] AnKar112 commented on #25
This happens because of package-lock.json file. You don't need it anyway, so I add it to ignore list.

[2021-09-14 16:41] AnKar112 commented on #19
Couldn't reproduce it too. Looking like you use old version, it was fixed some days ago.

[2021-09-14 18:30] AnKar112 commented on #17
https://d33pspace.github.io/RenewalMgtApp-Html/app/users_list.html - that's not really 'open' as I understand. It lead you to the user profile page, so it's a link. If it somehow's 'open', I need a design for that.
https://d33pspace.github.io/RenewalMgtApp-Html/app/item_catalogue.html - the same
https://d33pspace.github.io/RenewalMgtApp-Html/app/guest_list.html - the same
https://d33pspace.github.

[2021-09-14 21:06] #25 closed

[2021-09-14 21:07] #22 closed

[2021-09-14 21:10] #10 closed

[2021-09-14 21:20] d33pspace commented on #2
@AnKar112 @academws I am using Firefox desktop/mobile and it does this no matter the width of the browser. In Chrome it looks good. If this is not an easy fix don't worry about it, as long as it looks good in Chrome we are good.

[2021-09-14 22:19] AnKar112 commented on #2
That's not hard, you give me all information I need :)
Fixed for firefox too, check please.

[2021-09-15 01:08] d33pspace commented on #2
@AnKar112 @academws Thank you! But no change on my end and the file doesn't seem to be updated. Maybe you didn't push the change?

[2021-09-15 03:02] d33pspace commented on #17
@AnKar112 @academws Thanks for these changes! It's looking great!

https://d33pspace.github.io/RenewalMgtApp-Html/app/users_list.html
https://d33pspace.github.io/RenewalMgtApp-Html/app/guest_list.html
^ For these two pages can you please link to any blank page so we can just test the tap on line functionality?

https://d33pspace.github.io/RenewalMgtApp-Html/app/item_catalogue.html
^ We are discuss

[2021-09-15 03:02] d33pspace commented on #4
@AnKar112 @academws This looks good but my preference would be that when one dropdown list opens, the other closes automatically. Is this possible?

[2021-09-15 04:13] MariiaBubley commented on #24
@d33pspace
(1) Examples of header you can see here
https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=1703%3A37415

Ps. I also changed some headers (made only two variants, except main) for unifying the app, I made comments in Figma.

(2) I meant the same, If the header will be fixed, the content will be scrolling inside the container. I put it wrong with formulating in t

[2021-09-15 04:43] MariiaBubley commented on #5
@edwazhao @d33pspace
I have added the opportunity to extend Type.
![image](https://user-images.githubusercontent.com/89512026/133371853-a2b5246a-79a0-4607-a5f7-bcddc4b1d59f.png)

[2021-09-15 04:55] d33pspace commented on #24
@AnKar112 @academws Mariia has made edits to the headers in some of the Figma models. Comments have been added to updated models.

All headers should be fixed on the page.

[2021-09-15 04:56] d33pspace commented on #5
@AnKar112 @academws The Figma model for Item Catalogue has been updated to include the ability to expand items to reveal sub-items. Please make the update to the HTML template.

[2021-09-15 04:59] #12 closed

[2021-09-15 05:07] MariiaBubley commented on #23
@edwazhao @d33pspace
1) Look at the image, are we can make zones on the Guest line?
![image](https://user-images.githubusercontent.com/89512026/133373221-359744c8-d15d-4ee7-af1b-2edb82d96fdf.png)
3) It sounds logical. It means that now we have two Guestlist pages 1-From FAB, 2-from Sidebar. I propose to change the 2nd title to "Start the service", 1st leave Guest List.  Also, I have already remove

[2021-09-15 05:31] d33pspace commented on #23
@AnKar112 @academws The arrows on the right side of Guest List have been removed (in Figma see Guest List - Guest Account > Guest list). Then another page has been created called "Start the Service" (in Figma see Main page > Guest list) which is similar to the original Guest List. Can you please make updates to the HTML templates accordingly?

[2021-09-15 05:39] MariiaBubley commented on #9
@edwazhao @d33pspace @academws
I made a new mockup considering all the previous discussions.
https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=828%3A19618
red highlighted if distribution policy violated
green - if not violated

[2021-09-15 05:42] d33pspace commented on #9
@academws @AnKar112 Please update the modal window on the give page according to the new model in Figma.
![Screenshot 2021-09-15 134224](https://user-images.githubusercontent.com/13606352/133377176-01f518f8-2b31-42e7-b785-057b4116d92f.png)

[2021-09-15 14:35] edwazhao commented on #4
Thanks, I will close it.

[2021-09-15 14:35] #4 closed

[2021-09-15 20:05] AnKar112 commented on #2
Strange, it wasn't pushed. Check it again, please, now it should be ok.

[2021-09-15 20:54] AnKar112 commented on #5
Done. Check, please.

[2021-09-15 21:16] AnKar112 commented on #9
Done, you can check.

[2021-09-15 22:37] AnKar112 commented on #17
https://d33pspace.github.io/RenewalMgtApp-Html/app/users_list.html - done
https://d33pspace.github.io/RenewalMgtApp-Html/app/guest_list.html - done
https://d33pspace.github.io/RenewalMgtApp-Html/app/return_page.html - done
https://d33pspace.github.io/RenewalMgtApp-Html/app/main_page.html - done

https://d33pspace.github.io/RenewalMgtApp-Html/app/take_page.html - not really simple task, need some t

[2021-09-15 22:51] AnKar112 commented on #23
Done. I found one difference - new page have this http://ipic.su/img/img7/fs/kiss_27kb.1631746227.png and old one have no. Is it a mistake?

[2021-09-15 23:00] d33pspace commented on #23
@AnKar112 @academws I'm sorry I don't see the two files in the repository, can you point them out, please?

@MariiaBubley Can you please reply to the question directly above regarding the difference between the two files in the Figma models?

[2021-09-15 23:03] d33pspace commented on #9
@AnKar112 @academws I don't see any updates to give_page - maybe didn't push?

[2021-09-15 23:04] d33pspace commented on #17
@AnKar112 @academws Sorry - again I'm not seeing it. Maybe didn't update the repository yet?

[2021-09-15 23:04] AnKar112 commented on #23
Pushed just now. Check again, please

[2021-09-15 23:06] d33pspace commented on #23
@AnKar112 Thank you! I will check all again. No need to comment again on all issues.

[2021-09-15 23:12] d33pspace commented on #23
@AnKar112 @academws
- Guest List looks good!
- For Start the Service, can you please link to two different pages (any pages) to demonstrate the click/tap zones as indicated here?

![133374084-879f52b0-2ad9-4fc3-9f0d-b1519217e5dc](https://user-images.githubusercontent.com/13606352/133524716-953a387a-b13c-440f-af50-f28e56a5e68b.png)

@MariiaBubley Can you please reply to Anton's question above regar

[2021-09-15 23:18] d33pspace commented on #17
@AnKar112 @academws

users_list - looks good!
guest_list - looks good!
return_page - perfect!

main_page - small problem:
- When you tap on the meal icon in In-Service List or Finished List, It both activates the icon AND links to another page. It should only activate the icon. If you tap on the rest of the line, the link should open. Waiting List works as expected.

take_page - understood. please

[2021-09-15 23:22] d33pspace commented on #9
@MariiaBubley This is fixed. It looks great to me - sufficient for demonstration of UI. @edwazhao can handle the coding for specific scenarios. Do you agree?

@edwazhao Is this also acceptable to you? Now there is no date range necessary. If there is no violation, any distributed items in the policy period (calculated from today) are highlighted in grey. If there is a violation, any distributed it

[2021-09-15 23:24] d33pspace commented on #5
@MariiaBubley This seems okay to me. What do you think?

@edwazhao Is this sufficient for you? Do we need demonstration of tap to open link on Item or Type without Items?

[2021-09-15 23:27] d33pspace commented on #2
@edwazhao @MariiaBubley The edit laundry tag features here look good to me. Can you confirm? By the way, more UI functionality needs to be added to this page, but that is being tracked under issue #17 .

[2021-09-16 03:46] #2 closed

[2021-09-16 03:47] edwazhao commented on #2
Looks good to me, thank you

[2021-09-16 06:41] MariiaBubley commented on #9
@d33pspace Jimmy, I find few problems on the page:
https://d33pspace.github.io/RenewalMgtApp-Html/app/give_page.html

1) Highlighting have to work like that: User gives the first item inside distribution policy - this item highlighted green, User gives the second item inside distribution policy - BOTH items highlighted green, but as soon as giving goes beyond distribution policy, all items in the

[2021-09-16 06:47] MariiaBubley commented on #23
@AnKar112 @d33pspace

All pages with a list or catalogue have search lines and sort icons (these icons switch between each other) - by name and by date.
![image](https://user-images.githubusercontent.com/89512026/133563397-ac269c26-602e-4abe-9053-f592adb988ae.png)

[2021-09-16 06:56] MariiaBubley commented on #5
@d33pspace
https://d33pspace.github.io/RenewalMgtApp-Html/app/item_catalogue.html

I have few edits:
1)Not correct background
2)Why arrow is not changed? When line collapsed have to displayed grey down arrow, when line extended - black up arrow.
3)On this page work only one line, others do not extend.
4)Incorrect title

[2021-09-16 06:57] MariiaBubley commented on #11
👌🏼

[2021-09-16 10:58] d33pspace commented on #23
@AnKar112 @academws Please make the sort icon in the upper right toggle between name and date when clicked/tapped.

[2021-09-16 10:59] #11 closed

[2021-09-16 11:11] d33pspace commented on #9
Thanks, @MariiaBubley ...

1) I will make sure @edwazhao understands this logic, but I think this template is sufficient to demonstrate the UI features are viable.

2) Can you tell us the device/browser you are using for screen capture? Mine looks good.

3) Agreed.

@AnKar112 @academws
Please see Mariia's 3rd point above. The blue area should open the modal page. The red area should add the item t

[2021-09-16 11:16] d33pspace commented on #5
@MariiaBubley

1) Please explain or provide screenshot.
2) Agreed.
3) I believe this is sufficient to demonstrate UI functionality. The rest can be handled by Edward. But we do need demonstration of a Type with no Items, such as shorts.
4) Agreed.

@academws @AnKar112
- Please see Mariia's point 2 above. The arrow needs to change when a line expands.
- There are some items that will not expand, su

[2021-09-16 11:17] d33pspace commented on #19
@MariiaBubley Can you please test this on your device/browser and if there is still an issue provide details so we can research it. This looks fine on my devices.

[2021-09-16 20:32] AnKar112 commented on #5
Not correct background - fixed
arrows - fixed
about next one - this how I get it from design http://ipic.su/img/img7/fs/kiss_56kb.1631824265.png
and the page already have this title

[2021-09-16 20:40] AnKar112 commented on #9
2 - it could only happening when you open code inspector and change resolution while testing. We didn't need to do nothing with itm because real users won't do this.
3 - sorry, I didn't understand the logic. What do you mean when you said giving list?

[2021-09-16 20:45] AnKar112 commented on #17
main_page - fixed

[2021-09-16 21:04] AnKar112 commented on #23
Could you specify, what pages should contain this? For example, this page have search, but have no this icon http://ipic.su/img/img7/fs/kiss_22kb.1631826264.png

[2021-09-16 21:50] d33pspace commented on #9
Hi @AnKar112 @academws
3 - Please refer to the Figma models (screenshot above). The initial state of the give_page is how you have it now. But users can add items from the Clothing List to the Giving List (top of the page in the screenshot above) by clicking/tapping on the [+] icon. The Giving List will not appear on the page until the first item is added. Then multiple items can be added. Can you

[2021-09-16 21:55] d33pspace commented on #5
@AnKar112 @academws
Perhaps you are still working on this now, but this is what I am seeing in my browser (screenshot below).
- header is messed up,
- title of item_catalogue is incorrect. Right now it is "Behavior overview" it should be "Item catalogue.
- thank you for explanation of other points, I will test further once these are corrected.
![Screenshot 2021-09-17 055239](https://user-images.gi

[2021-09-16 23:25] AnKar112 commented on #24
unfulfilled request, items we trashed, edit item, Operation report, Distribution report - what the page is it?
All other pages done

[2021-09-16 23:28] AnKar112 commented on #5
You must be checking while I was working on it. Header is ok now.

[2021-09-16 23:33] AnKar112 commented on #9
Oh, now I get. Okay, no problem. It will take some time.

[2021-09-17 00:37] d33pspace commented on #5
@MariiaBubley
- Please confirm background is fixed.
- Is your intent that a Type with Items has a grey arrow when collapsed, then a black arrow when expanded? And a Type with no Items has no arrow?

[2021-09-17 01:47] d33pspace commented on #19
We'll deal with this in issue #9

[2021-09-17 01:47] #19 closed

[2021-09-17 01:53] d33pspace commented on #17
@AnKar112 @academws
- This is still not quite right (or maybe you have not pushed the change yet)... (1) Tap on someone in the Waiting list to move them to the In-Service list (2) tap on meal. All that should happen is the meal should become inactive/active. Instead a link is also opened.
- Please make square click/tap fields in all three lists like this:
![Screenshot 2021-09-17 094951](https://us

[2021-09-17 01:58] d33pspace opened #26 "Start Service page"
@AnKar112 @academws
- Please change the title in the header from "Start the service" to "Start service"
- There are two fields for clicking/tapping on each line, the main line (left) should open guest_profile, the arrow (right) should open main_page. Can you demonstrate this please, and also please mind the click/tap fields should be square.
![Screenshot 2021-09-17 095510](https://user-images.gith

[2021-09-17 02:06] d33pspace commented on #23
@MariiaBubley
(1) Anton has updated the sort icon in Guest list and Start service page.
https://d33pspace.github.io/RenewalMgtApp-Html/app/guest_list.html
https://d33pspace.github.io/RenewalMgtApp-Html/app/start_the_service.html

(2) I agree it should be added to User list, but note it is not present in the Figma model.

(3) The sort icon is also not on Item catalogue in the Figma models, but it d

[2021-09-17 05:04] d33pspace commented on #24
Hi @AnKar112 @academws I apologize for the changes on the headers, but let's please fix them carefully. It's important to me. 😊

(1) main_page and main_page with burger opened seem to have two different header heights. They are the same in the Figma models.

(2) users_list header seems different than guest_list and start_the_service. I don't know which one is correct, but users_list is slightly di

[2021-09-17 05:15] d33pspace commented on #23
@AnKar112 @academws

(1) Please add the sort icons to user_list. I realize it's not in the Figma model, but it should be. We apologize.
(2) Please remove the search bar from item_catalogue. Again, this is our mistake. Then please unify the header for this page as described in #24

[2021-09-17 05:28] d33pspace opened #27 "Take Page"
@AnKar112 @academws
I'm creating a new issue here especially to discuss the Take page...
https://d33pspace.github.io/RenewalMgtApp-Html/app/take_page.html

*Note that the function of the Take page is similar to the Give page - these are probably the two most complex pages. So you might want to finish the Give page first.

Here's what needs to happen:

(1) The initial state of the page is there is

[2021-09-17 06:41] d33pspace opened #28 "Give page - modal"
@MariiaBubley
In my understanding, the distribution history modal on the give page should only open when a number to the right of a Type is tapped. Because some (actually most) lines will not have any relevant distribution history to share. Plus, the distribution history is only relevant to Types, not Items.

https://d33pspace.github.io/RenewalMgtApp-Html/app/give_page.html

So I think:
- Tap on w

[2021-09-17 06:43] d33pspace opened #29 "Plus sign on ratings unnecessary"
@MariiaBubley
I don't think the [+] sign before the smile/frown face on these pages is necessary. It's a little confusing to me.

What do you think?

https://d33pspace.github.io/RenewalMgtApp-Html/app/guest_profile_behavior.html
https://d33pspace.github.io/RenewalMgtApp-Html/app/reports_behavior_overview.html

[2021-09-17 06:49] d33pspace opened #30 "Items we lost page"
@AnKar112 @academws
Small problem, please change the title on this page to "Items we lost"

https://d33pspace.github.io/RenewalMgtApp-Html/app/guest_profile_item_lost.html

[2021-09-17 06:51] d33pspace opened #31 "Guest profile"
@academws @AnKar112

My mistake, the phone number and ID number on guest_profile are real. Can you please replace them with placeholders of the same length? And can we purge old versions of this page from the repository? This is a public repository.

https://d33pspace.github.io/RenewalMgtApp-Html/app/guest_profile.html

[2021-09-17 06:53] d33pspace opened #32 "Guest Profile"
@AnKar112 @academws

https://d33pspace.github.io/RenewalMgtApp-Html/app/guest_profile.html
- This toggle on the Guest Profile needs to change according to the list that the Guest is currently in. The default state is no list active. And only one list can be active at a time. Can you please demonstrate?
![Screenshot 2021-09-17 145326](https://user-images.githubusercontent.com/13606352/133737961-81b

[2021-09-17 06:57] d33pspace commented on #5
@AnKar112 @academws
(1) When the expand arrow is facing down, it should be grey. When it is facing up, it should be black. Our apologies if this is different from Figma.

(2) For demonstration purposes, Item Catalogue needs to have at least one row that does not have the down arrow because some items do not expand. Please demonstrate that (a) rows that do not expand open an external link by tappin

[2021-09-17 07:00] d33pspace opened #33 "Main page - FAB"
@MariiaBubley
The FAB on the Main page is for adding Guests to the Waiting list. It seems like a plus sign with the people would be helpful. What do you think?

[2021-09-17 07:01] d33pspace opened #34 "Reports - column header icons"
@MariiaBubley
The icons that are the column headers on the operations report are very small and it's hard to tell the purpose. Do you think abbreviated text would be more practical?

https://d33pspace.github.io/RenewalMgtApp-Html/app/reports_operations.html

[2021-09-17 07:03] d33pspace opened #35 "Reports - date picker"
@AnKar112 @academws
The date can be changed on all reports such as:
https://d33pspace.github.io/RenewalMgtApp-Html/app/reports_behavior.html

Figma:
![Screenshot 2021-09-18 083837](https://user-images.githubusercontent.com/13606352/133866108-9e841797-8b8c-41fd-acee-ad5f2cac1545.png)

Can you please demonstrate this UI function?

[2021-09-17 07:05] d33pspace opened #36 "Return page"
@AnKar112 @academws
I believe the FAB on the Return page should close when the X at the bottom is tapped?
https://d33pspace.github.io/RenewalMgtApp-Html/app/return_page.html

Also, the FAB should appear only when all items have been "handled" - this means all items have been either marked with a check, trash, or lost. And when the FAB appears, and then later one of the items is unmarked, the FAB w

[2021-09-17 07:10] d33pspace opened #37 "Take page, Give page FAB"
It is my understanding that the FAB on the take page and give page should appear always, not only when the laundry list and giving list appear as you show in Figma. I think the User should be free to navigate away from these pages without doing anything. Do you agree?

[2021-09-17 07:12] d33pspace opened #38 "Unify dropdown menus"
@AnKar112 @academws

- On the new_item, edit_guest, and new_guest pages, when one menu is opened, please close all other dropdown menus.
- Please implement the animated flip effect on the expand/collapse arrow on new_item and new_guest like is on edit_guest.

https://d33pspace.github.io/RenewalMgtApp-Html/app/new_item.html
https://d33pspace.github.io/RenewalMgtApp-Html/app/new_guest.html
https://d

[2021-09-17 07:13] MariiaBubley commented on #37
@d33pspace yes, I agree. Additional not obvious navigation is not necessary.

[2021-09-17 07:14] MariiaBubley commented on #29
@d33pspace yes, you're right.

[2021-09-17 07:15] d33pspace commented on #9
@AnKar112 @AnKar112
Also, this page needs an FAB always present.

[2021-09-17 07:15] #37 closed

[2021-09-17 07:18] d33pspace commented on #29
@AnKar112 @academws
Please remove the little plus signs to the right of the faces on guest_profile_behavior and reports_behavior_overview.

![Screenshot 2021-09-17 151704](https://user-images.githubusercontent.com/13606352/133740995-c381026b-b12b-43c2-9814-5209d29cbfa4.png)

[2021-09-17 07:21] MariiaBubley commented on #23
@d33pspace
2) I think the item catalogue also should have a search bar and sort, it can be useful for users.

@AnKar112 @academws
Excuse me for the inconsistencies in Figma, some cases I make during development, so sometimes appear mistakes.

[2021-09-17 07:34] d33pspace commented on #23
@MariiaBubley Thanks for this good idea, I don't mean to imply it was a mistake originally. But I'd prefer we leave out search and sort for clothing items. I would prefer the Types be in logical order. This will be one of the most common things Users do, so they will learn where clothing is quickly.

@AnKar112 @academws
Please proceed with (1) and (2) above.

[2021-09-17 07:42] MariiaBubley commented on #5
@AnKar112
![image](https://user-images.githubusercontent.com/89512026/133743882-cbd5d93b-1c5f-4831-a640-5507ebbf5b79.png)

@d33pspace @AnKar112
I find a new mistake, the header start started to move to the left.
![image](https://user-images.githubusercontent.com/89512026/133742100-4307209f-ca19-4509-b8f3-ecaf8c5b3756.png)

Also, I propose to make a shadow, which appears only when the scrolling sta

[2021-09-17 07:51] MariiaBubley commented on #9
@d33pspace for screen capture, I use the native Mac OS functions
For screenshots, it calls with Shift + Command + 4
For video - Shift + Command + 5

[2021-09-17 08:56] MariiaBubley commented on #23
@d33pspace ok, I have already changed it on the Figma guide

[2021-09-17 09:01] MariiaBubley commented on #33
@d33pspace
Do you mean this icon?

![image](https://user-images.githubusercontent.com/89512026/133755792-1d98da73-e46b-42e4-b015-631ccf5c85ff.png)

[2021-09-17 20:44] AnKar112 commented on #5
(1) When the expand arrow is facing down, it should be grey. When it is facing up, it should be black. Our apologies if this is different from Figma. - done

(2) For demonstration purposes, Item Catalogue needs to have at least one row that does not have the down arrow because some items do not expand. Please demonstrate that (a) rows that do not expand open an external link by tapping anywhere on

[2021-09-17 22:22] AnKar112 commented on #9
Done, but I think not fully. Have some questions:
- what mean FAB?
- http://ipic.su/img/img7/fs/kiss_23kb.1631917215.png
1 - should it expand and show added items?
2, 3 - how them should work?

[2021-09-17 22:39] AnKar112 commented on #17
All done

[2021-09-18 00:43] d33pspace commented on #33
Yes! Perfect. Sorry I may not have noticed this in Figma. The icon in the HTML models is incorrect. I'll have Anton fix it.

[2021-09-18 00:43] #33 closed

[2021-09-18 00:53] d33pspace commented on #31
Closing and combining this with #32

[2021-09-18 00:53] #31 closed

[2021-09-18 01:06] d33pspace commented on #34
@MariiaBubley
I like this! But it's the icons for the column headers I think can be difficult to understand.
![Screenshot 2021-09-18 090228](https://user-images.githubusercontent.com/13606352/133866957-f4fe76f6-8cef-4ff2-91b2-e60dd98ab908.png)

Can we do:
GIVEN     LOST     UNFULFILLED     TRASHED

Or if we need them even shorter:
GIVEN     LOST    UNFL'D     TRASH

[2021-09-18 01:18] d33pspace commented on #9
@AnKar112 @academws
Great work on this one! Very cool. Thanks!

A few more things from here:

- The entire Giving List should be shaded as indicated in Figma:
![image](https://user-images.githubusercontent.com/13606352/133867305-b9d3695b-2cc7-4bee-b0b7-c3b67a6ddeab.png)
- The graphic above also includes the FAB - the red circle menu that hovers in the lower right-hand corner.
- In the Giving List,

[2021-09-18 01:35] d33pspace commented on #5
@MariiaBubley
- What do you think about the shadow here? It looks good to me!
- Also, do you see any problems with header alignment on Mac?
https://d33pspace.github.io/RenewalMgtApp-Html/app/item_catalogue.html

@AnKar112 @academws
Changes look great! Thank you!
- Please remove the Search bar. You have it here correctly (it was in Figma) but I decided I don't want it on this page.
- Please demonst

[2021-09-18 01:47] d33pspace commented on #23
@AnKar112 @academws
- Please add the sort icons to user_list like you did on guest_list and start_the_service. This is not in Figma but it should be.

[2021-09-18 01:49] d33pspace commented on #17
@AnKar112 @academws
The last update to main_page says yesterday. Perhaps you need to push?

Also:
- Change the icon on the FAB (menu in lower right) when closed should look like this (below). It means "add guest".
![133755792-1d98da73-e46b-42e4-b015-631ccf5c85ff](https://user-images.githubusercontent.com/13606352/133866248-0009574b-4c53-482e-bfbb-ce7cbc0055bd.png)

[2021-09-19 12:29] AnKar112 commented on #5
Please remove the Search bar. You have it here correctly (it was in Figma) but I decided I don't want it on this page. - done
I've noticed the expand/collapse on take_page and give_page has a subtle animated effect and I like it. Can you implement it on this page also, please? - you mean arrow animation, right? done
Please demonstrate the full-line tap functionality like so: - done

[2021-09-19 13:26] AnKar112 commented on #9
Everything is done, check please

[2021-09-19 13:30] AnKar112 commented on #17
Change the icon on the FAB (menu in lower right) when closed should look like this (below). It means "add guest". - done

[2021-09-19 13:39] AnKar112 commented on #23
Done. Btw, in item catalogue this title have 500 font-weight http://ipic.su/img/img7/fs/kiss_9kb.1632058721.png
and in guest list 700. Maybe it should be simular?

[2021-09-19 17:52] AnKar112 commented on #24
1 - did we need page burger_opened at all?
2 - I didn't get. In some tasks you ask to remove search from Item Catalogue, in this https://github.com/d33pspace/RenewalMgtApp-Html/issues/23 - to add
3, 4, 5 - check it now, please
6 - can you give me screenshot?
7 - as I asked before, F5 help with this? If no, give me your resolution please
8 - what mean 16% ? I asked before send box-shadow in pixels,

[2021-09-19 20:45] AnKar112 commented on #26
Done

[2021-09-19 20:50] AnKar112 commented on #29
Done

[2021-09-19 20:51] AnKar112 commented on #30
Done

[2021-09-19 20:56] AnKar112 commented on #32
Sorry, I didn't get first task. We have design for content in tabs?

[2021-09-19 21:02] AnKar112 commented on #35
Have a little problems here. Add class active to overlay and you will see datepicker http://ipic.su/img/img7/fs/kiss_94kb.1632085258.png
This is simple jQuery datepicker. And it couldn't pick a range of dates. I thought that you (or your developer) have some datepicker plugin that I should use for this project.

[2021-09-19 21:12] AnKar112 commented on #36
Shoult tap on trash\lost check checkbox?

[2021-09-20 06:05] d33pspace commented on #36
@AnKar112 @academws
Hi.
- This is correct, all items checked, FAB menu is active:
![correct](https://user-images.githubusercontent.com/13606352/133961929-edf331d5-761a-44e4-9df5-93f34e3bb7e8.png)

- But if one item is unchecked, FAB menu should disappear.
- So for example, this is incorrect. FAB menu should not be here:
![FAB should disappear](https://user-images.githubusercontent.com/13606352/133

[2021-09-20 06:11] d33pspace commented on #35
@edwazhao See Anton's comment above. We need a date picker that can select a range of dates. Do you have a suggestion?

[2021-09-20 06:16] d33pspace commented on #32
@AnKar112 @academws
Hello!

These are actually not tabs, they are buttons. In the graphic above, the Guest is currently in the In-Service list. But the User could tap "Waiting" or "Finished" to move her to that list. The only thing that happens in the UI is the active button moves to the tapped list. The default button is no button is active. And the buttons can also be disabled.

Can you please d

[2021-09-20 06:16] #30 closed

[2021-09-20 06:17] #29 closed

[2021-09-20 06:18] #26 closed

[2021-09-20 06:20] d33pspace commented on #5
@AnKar112 @academws
Everything looks great except I still see the search bar at the top of the page. Please remove it.

[2021-09-20 06:27] d33pspace commented on #17
@AnKar112 @academws
Icon change and Serve all button look and work great. However, still two problems...

- Tap fields are still not square. It should not be possible to click/tap just outside the meal to fire the "tap on line" function.
![Screenshot 2021-09-17 094951](https://user-images.githubusercontent.com/13606352/133711003-829b8507-4e28-4360-a1c2-dc5afaa0fcde.png)

- (1) Tap on someone in Wa

[2021-09-20 06:29] d33pspace commented on #23
@MariiaBubley Can you please check the header font weights as suggested by Anton above and tell us if there are any pages that are incorrect and how to correct them?

[2021-09-20 08:14] d33pspace commented on #24
@AnKar112 @academws
Beautiful work, Anton, thank you! Just a few minor things...

(1) I do not think burger_opened is necessary because burger menu on main_page is functional. However, please note that the line below the burger menu header should be at the same place as the bottom of the main_page (see illustration from Figma here). Please make this change.
![Screenshot 2021-09-20 161000](https://

[2021-09-20 09:28] MariiaBubley commented on #34
How about such titles:
![image](https://user-images.githubusercontent.com/89512026/133981204-3e91035f-ed91-4a67-8b47-8ae5192fbb3e.png)

But I can not make them longer.

[2021-09-20 09:29] MariiaBubley commented on #34
And we also have to change other titles on the same
Cange:
Laundry - Wash
Requests - Needs

[2021-09-20 09:32] MariiaBubley commented on #23
@d33pspace @AnKar112 all such titles on all pages have to be the same: 10 px, weights 500, Grey-2

[2021-09-20 09:44] MariiaBubley commented on #24
@d33pspace @AnKar112
https://d33pspace.github.io/RenewalMgtApp-Html/app/reports_behavior.html
Please, check on mockup - pudding before the first title have to be 24px (this block was moved up before).

Please, add titles on these pages as well.
https://d33pspace.github.io/RenewalMgtApp-Html/app/user_profile.html
https://d33pspace.github.io/RenewalMgtApp-Html/app/guest_profile.html

Other pages are

[2021-09-20 09:48] MariiaBubley commented on #5
@d33pspace
![image](https://user-images.githubusercontent.com/89512026/133983318-785b2209-bc82-4cc8-8ec6-f86a64b11786.png)
After the search has to be padding 16px.

header alignment is fine

[2021-09-20 10:01] MariiaBubley commented on #28
@d33pspace How about nest flow?

![image](https://user-images.githubusercontent.com/89512026/133985157-faedfa3f-3cf2-480d-8140-38922ee0bc6c.png)

[2021-09-20 13:35] edwazhao commented on #35
Hi @d33pspace , I would like to choose [https://vcalendar.io/datepicker.html#date-ranges](https://vcalendar.io/datepicker.html#date-ranges) or [https://vue3datepicker.com/api/props/#range](https://vue3datepicker.com/api/props/#range)
But I am OK if Anton cannot use my suggestion above, he can choose what the convenient for the HTML version, I will replace later.

[2021-09-21 01:24] d33pspace commented on #28
How about this?

The reason I think it makes more sense is when the modal is opened, it contains all Items of that Type.

![Screenshot 2021-09-21 091504](https://user-images.githubusercontent.com/13606352/134098017-91d0f8e1-d47e-423f-8011-838527847499.png)

[2021-09-21 06:38] d33pspace commented on #35
@AnKar112 @academws

If you can please just demonstrate modal window opens with any calendar when the users taps the date range link that is enough. You do not need to demonstrate date-range selection functionality.

[2021-09-21 06:45] d33pspace commented on #24
@MariiaBubley
What do you mean add titles to user_profile and guest_profile? It looks like in Figma these pages also do not have titles. (?)

@AnKar112 @academws
Based on Mariia's feedback above, please add to my list...

(6) Adjust the headers on reports_operations and reports_behavior to comply with the style in Figma. To me the most obvious problem is the date selection link is too close to the

[2021-09-21 06:54] #23 closed

[2021-09-21 06:59] #5 closed

[2021-09-21 07:09] d33pspace commented on #9
@AnKar112 @academws
Looking great!!!

(1) The FAB menu icons are reversed. It should be check when closed, and X when opened.

@MariiaBubley
The Giving List at the top of ...
https://d33pspace.github.io/RenewalMgtApp-Html/app/give_page.html
... uses the format Type only. Should we use the format Type | Item such as ...
![133983318-785b2209-bc82-4cc8-8ec6-f86a64b11786](https://user-images.githubuse

[2021-09-21 18:29] AnKar112 commented on #9
(1) - done

[2021-09-21 19:53] AnKar112 commented on #24
(1) I do not think burger_opened is necessary because burger menu on main_page is functional. However, please note that the line below the burger menu header should be at the same place as the bottom of the main_page (see illustration from Figma here). Please make this change. - them wasn't in mockup) http://ipic.su/img/img7/fs/kiss_57kb.1632249681.png
**Fixed**

Btw, I find out that file main_pag

[2021-09-21 19:58] AnKar112 commented on #32
Get it. Done. check please

[2021-09-21 20:09] AnKar112 commented on #35
As demonstration: reports_behavior.html
If it's enought, I will add it to other report pages. If you need something **edwazhao** proposed, I can do it, but need some time to install and style this datepicker.

[2021-09-21 20:39] AnKar112 commented on #38
Done

[2021-09-22 01:06] #38 closed

[2021-09-22 01:10] #32 closed

[2021-09-22 02:40] d33pspace opened #39 "FAB"
@MariiaBubley

(1) I believe there is no reason for the FAB to have a "return laundry" icon at all. The User must go to the Return page upon initiating service, and the FAB does not appear until all items are handled. Then, once the User leaves the Return page, there is no reason to go back there. Do you agree?

(2) I believe the take page doesn't need a take icon in the FAB and the give page does

[2021-09-22 02:49] #24 closed

[2021-09-22 03:03] d33pspace commented on #17
@AnKar112 @academws
I'm so sorry I'm still seeing the problem I keep referring to. Please allow me to explain again.

Please take these exact steps on main_page to observe it:
https://d33pspace.github.io/RenewalMgtApp-Html/app/main_page.html

(1) Tap on a Guest in the Waiting list to move them to the In-Service list.
(2) Tap on the meal icon of the Guest that you just moved to the In-Service list.

[2021-09-22 03:08] d33pspace commented on #9
@MariiaBubley

@MariiaBubley
(1) Continuing our conversation from #28 -- I would prefer this below because when the distribution modal opens, all the Items of the selected Type should appear in the modal. So it does not make sense to click on an Item and the modal opens, but it has other Items in it...

![134098387-1948f31e-5d13-4b70-8ca4-c39c05dcfc0c](https://user-images.githubusercontent.com/136

[2021-09-22 03:08] #28 closed

[2021-09-22 03:19] d33pspace opened #40 "Navigation, FAB"
@MariiaBubley
I have taken a different path than is in the user flow...

When there is an open spot in the In-Service list, when the User taps on a Guest in the Waiting list, I would like the first action to be for the Guest to move to the In-Service list. Because sometimes the User will call for a Guest, but it may take them a few minutes to come to the desk, so they may actually do something els

[2021-09-22 03:19] #39 closed

[2021-09-22 04:16] d33pspace commented on #35
Thank you, @AnKar112 @academws

I spoke with the back-end developer and he says if it's possible for you to install and style V-Calendar that would be ideal.
https://vcalendar.io/datepicker.html#date-ranges

[2021-09-22 07:43] MariiaBubley commented on #34
done
https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=1783%3A45773

[2021-09-22 07:49] MariiaBubley commented on #28
@d33pspace Do you mean, that the modal include all items of this type?

I thought before in the modal window, there is only one item but all repetitions

[2021-09-22 09:10] MariiaBubley opened #41 "User Admin Guest Pages"
@AnKar112  @d33pspace Please, edit these pages. I added email on all User Pages and unify the paddings

https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=1878%3A42755

[2021-09-22 09:45] MariiaBubley commented on #40
@d33pspace
I have drawn a new flow using (b) scenario:
https://miro.com/welcomeonboard/bHlUOTNiUk9TVE1pTEJDS2o1aWIyQ3hOOE5BU0dla2FoTTZTa1ExVmZMdkdPemJBR0VIbWl5bTd2VDlwM3NBbHwzMDc0NDU3MzQ4NDk0NjExNDcx?invite_link_id=960248202456

_By the way, when a Guest is in the In-Service list, how goes the User open the Guest page?_
- or by tapping on the avatar (inside all Main Page lists)
- or through the si

[2021-09-22 13:06] edwazhao commented on #27
Hi @d33pspace , I also have two questions about Take Page.

1. When the tag is edit mode, I would like to make # non-editable, we can move it out of the input element.
![image](https://user-images.githubusercontent.com/11383105/134347870-e5200648-5100-49d7-a930-d650644b7b1a.png)

2. There is a number after the item in laundry list, does it mean we take 2 T-Shirts from the guest?
    I would like t

[2021-09-22 16:42] AnKar112 commented on #17
Sorry, get you wrong last time. I mean, I found and fixed the bug last time, but it was another bug :)
Fixed it too, check it please

[2021-09-22 18:08] AnKar112 commented on #27
Check it please, must be the same as on give page

[2021-09-22 19:14] AnKar112 commented on #41
Edit user profile - how this page called? Couldnt find it here https://d33pspace.github.io/RenewalMgtApp-Html/app/
And can you clarify where exactly should I looking about paddings and what the different?

[2021-09-22 20:00] AnKar112 commented on #36
Done. check it please

[2021-09-22 20:10] AnKar112 commented on #27
When the tag is edit mode, I would like to make # non-editable, we can move it out of the input element. - done too

[2021-09-22 21:00] AnKar112 commented on #35
as I understand, this is mistake? https://s.micp.ru/pXRr7.png

[2021-09-22 21:31] AnKar112 commented on #35
I'm done, but this calendar have no a lot of possibles to style it.
Take a look - is it ok for you? It looking different to design, but this is the best I can make with V-Calendar.

[2021-09-23 00:52] d33pspace commented on #41
@MariiaBubley
This is done. But we're not sure what you mean about "unify the paddings." In my opinion, headers and padding is looking good across all pages now. 😊

[2021-09-23 01:09] d33pspace commented on #40
@MariiaBubley
New flow looks great! Thank you!

A few more thoughts on FAB...

(1) What do you think about Guest page button in FAB? This way if a User is on Return, Give or Take pages, they can quickly open the Guest page and give the Guest a rating. In my opinion, this will be the time the User will instinctively want to give a rating.

(2) What do you think about Service Finished button in FAB?

[2021-09-23 01:10] #36 closed

[2021-09-23 01:14] d33pspace commented on #35
@MariiaBubley
The date picker style options are limited. Anton has done his best. Can you check out the look on...
https://d33pspace.github.io/RenewalMgtApp-Html/app/reports_behavior.html
I think it looks great! My only recommendation if it's possible would be that all selected dates are white instead of combination of white and black.
![Screenshot 2021-09-23 091311](https://user-images.githubuser

[2021-09-23 01:15] #34 closed

[2021-09-23 01:16] #17 closed

[2021-09-23 01:26] d33pspace commented on #27
@AnKar112 @academws
Great work on all issues today thanks so much! 😍

Here, a few small things:
(1) The Laundry list has a light grey background shading.
(2) In the Laundry list, please remove the count number. If two of the same item are added to the Laundry list, there are two rows. I'm sorry you did this correctly according to the mock-up but I am making this change.
(3) Similar to Give page, t

[2021-09-23 01:43] edwazhao commented on #27
Thanks, looks good from my side.

[2021-09-23 07:14] d33pspace commented on #35
@AnKar112 @AnKar112
Is it possible that all of the selected dates are white numbers instead of both white and black numbers?

[2021-09-23 07:16] d33pspace commented on #27
@AnKar112 @academws
Adding to my list above...
(4) When the user clicks on the pencil icon to edit the laundry tag, please move the cursor to the end of the number.

[2021-09-23 07:37] d33pspace commented on #9
@AnKar112 @academws
(1) Please update the tapping function as I have illustrated in the image directly above.
(2) The Give page also needs a Most Commonly Used list, just like on the Take page. This is not on the mock-ups. But I am requesting it here.
(3) Same as my request on the Take page, remove the counters when items are moved to the Giving list.

[2021-09-23 07:50] d33pspace opened #42 "Unify Give and Take pages"
@AnKar112 @academws
I need to explain something important that both the Give and Take page share... (Thank you very much for your patience!)

The Give page has the Giving list at the top. This is the list of items we are giving Guests.
The Take page has the Laundry list at the top. This is the list of items we will take from our Guests to wash and return later.

Both of these pages have a Most Com

[2021-09-23 20:23] AnKar112 commented on #42
Not a problem, but this pages have this logic:
- all cards in laundry\giving list already exist on the page, just disabled. When you click on plus, it enable card https://s.micp.ru/25y6t.png
Card can have any layout, but you need to say, which card should have which type of layout. Because t-shirt, for example, on take page, have (2) type on layout in MOST COMMONLY USED and (1) type of layout in F

[2021-09-23 20:59] AnKar112 commented on #9
(2) - done

But the other tasks... them impossible with current logic. I describe it in #42
Is it possible to stay as it is? For what you want I need to rework all this pages, and it will take a lot of time

[2021-09-23 21:06] AnKar112 commented on #27
(4) - done

[2021-09-23 23:28] #27 closed

[2021-09-23 23:28] #9 closed

[2021-09-24 00:34] d33pspace commented on #42
@AnKar112 @academws
I am consolidating issues #9 (Give page) and #27 (Take page) here.
Note while these pages are similar, there are some key differences.

Both pages:
(1) The counters that appear next to some items only appear in the Most Commonly Used list and the Full Clothing List of the Give page. They do not appear in the Giving List of the Give page, and they do not appear anywhere on the T

[2021-09-24 08:24] MariiaBubley commented on #35
@d33pspace @AnKar112
Please fix the margins and paddings, date colours on highlighted line, border-radius of the highlighted line.
I made visualisation here https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=148%3A998

![image](https://user-images.githubusercontent.com/89512026/134642738-89e24210-14d4-43eb-8d30-75f68a59452d.png)

[2021-09-24 08:31] MariiaBubley commented on #41
Yes, now they are fine
But I found new edit on the Account page  - Role input is doubled & delete my profile has different padding.
https://d33pspace.github.io/RenewalMgtApp-Html/app/edit_user_profile.html

[2021-09-24 08:46] d33pspace commented on #35
@AnKar112 @academws
I realize your styling options with V-Calendar are limited. Is there any of this you can accommodate? I think minimally all white numbers for selection would be nice.

[2021-09-24 08:49] d33pspace commented on #41
@AnKar112 @academws
(1) Please delete the first Role input (the one that is not the dropdown).
(2) Please correct the padding on the left of the "Delete my profile" link.

[2021-09-24 09:03] MariiaBubley commented on #40
@d33pspace yes, your thoughts make sense, so I made the changes to mockups
https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=1878%3A43804

[2021-09-24 11:42] d33pspace commented on #40
@AnKar112 @academws
Please update the FAB on the Return page, Take page and Give page as shown here:
https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=1878%3A43804

[2021-09-27 18:40] AnKar112 commented on #35
Sorry, I literally can't handle anything what you asking for.

[2021-09-27 18:46] AnKar112 commented on #41
Done

[2021-09-27 22:41] AnKar112 commented on #42
Please, check it now. So many information - I can miss something

[2021-09-28 05:20] #35 closed

[2021-09-28 05:21] #41 closed

[2021-09-28 05:40] d33pspace commented on #42
@AnKar112 @academws
Really great work, Anton, thank you!

There remain only a few tiny things now:

(1) On both pages, the click field around the [-] in the RMV column is not square.
(2) On the Take page, the click field around the [+] in the Pants row in the Full Clothing List (the item without sub-items) is not square. (See screenshot here.)
![Screenshot 2021-09-28 133815](https://user-images.gi

[2021-09-28 17:15] AnKar112 commented on #42
Everything is done

[2021-09-28 17:30] AnKar112 commented on #40
only icons changed, right? done

[2021-09-29 01:31] d33pspace commented on #40
@AnKar112 @academws
Almost perfect... 😊

On the Give page, please change the second icon (pointed out below) to the soiled t-shirt icon.
![Screenshot 2021-09-29 093052](https://user-images.githubusercontent.com/13606352/135187740-c4cb4e95-ba86-47b1-b53a-2f2ab7fd54e3.png)

[2021-09-29 01:47] d33pspace commented on #42
@AnKar112 @academws
Almost there! 😍

(1) On the Take page, the click field around the [+] in the Pants row in the Full Clothing List (the item without sub-items) is still not square.
![Screenshot 2021-09-28 133815](https://user-images.githubusercontent.com/13606352/135029642-93c9a3cc-5645-4932-95dd-138a3bbc99d2.png)

(2) On the the Give page, first add Shorts from the Full Clothing List (the item

[2021-09-29 18:11] AnKar112 commented on #42
Fixed, check please

[2021-09-29 18:12] AnKar112 commented on #40
Done

[2021-09-29 22:24] #40 closed

[2021-09-29 22:27] #42 closed

[2021-09-30 16:07] MariiaBubley opened #43 "Take page counter & Laundry tag"
@d33pspace

As for your question, how about adding the counter?
And what do you think about Landry tag redesign? I think this field is attracting too much attention to itself. I admit that it was my mistake to make it dark and large, now I see that it needs to be made less noticeable and if you deem it necessary, tell Anton to redo it. I made a layout just in case.

![image](https://user-images.gi

[2021-10-05 04:47] #43 closed

[2021-10-05 04:56] d33pspace opened #44 "Item flashing"
@AnKar112 @academws

Follow these steps to observe the issue:
(a) Open the Take page: https://d33pspace.github.io/RenewalMgtApp-Html/app/take_page.html
(b) On the first item in the Most Commonly Used list, click [+]
(c) The item is added to the Laundry List, then the item in the Most Commonly Used list flashes.

(1) In my opinion, it would be better if the item first flashed quickly, then was move

[2021-10-05 21:00] AnKar112 commented on #44
Look at take page now, I make a little changes. But I think that's bad idea, and I don't know how to did it good. Look:
- new item appears immediately. This is how it working, I couldn't change it.  But, flash animation is animation, it need some animation time. It was 1 second, and yes, it was a little 'late'. I make background flash animation on take page, and it have 0.3sec animation time. And

[2021-10-06 01:46] d33pspace commented on #44
@AnKar112 @academws
Thank you for working with me on this.

I see what you mean.

Try this:
(a) Open the Take page.
(b) Scroll down to the Full Clothing List. (Make sure the top of the page is not visible.)
(c) Add an item to the Laundry List.

What is interesting is, in this case, when the Laundry List is not visible, the flash works perfectly and is very helpful to indicate to the user that some

[2021-10-06 20:39] AnKar112 commented on #44
(1) - done for take page, check please. And I make animation little better.
Should I do the same for give page?

[2021-10-12 05:08] d33pspace commented on #44
@AnKar112 @academws
This looks really great, Anton! Just one more tiny thing if possible...

For sub-items can you make the flash extend all the way to the right side? This applies both to the Give and Take pages.

![Screenshot (95)_LI](https://user-images.githubusercontent.com/13606352/136895004-9797683f-93b9-49cd-a500-c181991be1ad.jpg)

[2021-10-14 02:37] edwazhao opened #45 "Meal icon is not aligned when the service time less than 10 minutes"
https://d33pspace.github.io/RenewalMgtApp-Html/app/main_page_admin.html#

![image](https://user-images.githubusercontent.com/11383105/137241082-95a680b4-9c5f-42f7-a583-6b69c9052912.png)

[2021-10-15 20:57] AnKar112 commented on #45
Fixed

[2021-10-19 15:07] edwazhao opened #46 "Need to add one more input field of sign-up page"
https://d33pspace.github.io/RenewalMgtApp-Html/app/sign_up.html

I need to seperate the Full Name to Chinese Name and English Name, but the bottom of the button can not displayed correctly, could you please help?

https://user-images.githubusercontent.com/11383105/137937744-64b2b4c7-3146-4e43-8431-d335ce6e009c.png

[2021-10-20 14:51] edwazhao opened #47 "Edit Item: dropdown is not displayed completely"
https://d33pspace.github.io/RenewalMgtApp-Html/app/edit_item.html

See screenshot below, 7 days option is not displayed.

![image](https://user-images.githubusercontent.com/11383105/138116561-786cecf8-ca4c-4f36-81f1-ca03e97b3d94.png)

[2021-10-21 04:25] d33pspace commented on #47
@AnKar112 @academws
Please take a look at this when you can. Thank you!

[2021-10-21 14:25] edwazhao opened #48 "Edit Guest: scrollbar for Province dropdown"
https://d33pspace.github.io/RenewalMgtApp-Html/app/edit_guest.html

1. There is no confirm button avaiable, please help to add it.
2. Please add scrollbar for Province dropdown

![image](https://user-images.githubusercontent.com/11383105/138297956-31377dcf-9024-455a-822f-f75420e0ef16.png)

[2021-10-21 22:04] AnKar112 commented on #46
Done

[2021-10-21 22:48] AnKar112 commented on #48
1 - Done. Should I do the same for New Guest page?
2 - Should it be with search as in New Item?
And, by the way, should I do the same logic for New Item page, as I do just now for Edit Guest (in Edit Guest button appear on input, and when all inputs are empty and no dropdown chosen, it dissepear. In New Item more simple logic - it just appear on blur and couldn't be disappear.

[2021-10-29 15:13] #47 closed, assigned to AnKar112

[2021-11-01 12:48] #48 closed

[2021-11-01 12:48] edwazhao commented on #48
Thanks @AnKar112 .

[2021-11-04 16:01] edwazhao opened #49 "all distribution list in give page is not scrollable"
https://d33pspace.github.io/RenewalMgtApp-Html/app/give_page.html

1. If there are a lot records, there is no scrollbar
2. If there are only few records, there are too much white space at bottom.

![image](https://user-images.githubusercontent.com/11383105/140374631-2b427d60-345c-4418-8b09-5c042066d030.png)

[2021-11-05 01:36] d33pspace commented on #49
@AnKar112 @academws Please take a look. Thank you!

[2021-11-05 13:22] AnKar112 commented on #49
Done

[2021-11-09 03:01] edwazhao commented on #49
Thank you for the fix.

[2021-11-09 03:01] #49 closed

[2021-11-17 14:44] edwazhao opened #50 "Missing service icon of Settings page"
https://d33pspace.github.io/RenewalMgtApp-Html/app/settings.html
1. Could you please add Service button ?
2. Could you please also add css for admin role?

![image](https://user-images.githubusercontent.com/11383105/142220931-6f59c9b0-7a9c-4071-a1a4-084f0301828e.png)

![image](https://user-images.githubusercontent.com/11383105/142221387-ed291cf8-3334-424d-9182-c3a23c2d0cf7.png)

@d33pspace , Here

[2021-11-18 23:02] AnKar112 commented on #50
Done. I create settings admin page.
Should I dublicate other settings pages ( this http://ipic.su/img/img7/fs/kiss_6kb.1637276520.jpg ). Them look simular.

[2021-11-18 23:07] AnKar112 commented on #50
Als, I changed icons color, border-radius and size, because it was changed in figma

[2021-11-19 04:12] edwazhao commented on #50
Thanks, no need to create other settings page for admin.

[2021-11-19 04:12] #50 closed

[2022-01-21 04:28] d33pspace opened #51 "Upload photo (edit_guest, edit_user pages)"
@AnKar112
Please add template for photo cropper to edit_guest and edit_user_profile pages.

(1) I will ask Mariia about the border radius and hover. Feel free to wait for her response before you make further changes to this page.

(2) Please align the buttons and upload area for all browser widths.
![Screenshot 2022-01-21 121602](https://user-images.githubusercontent.com/13606352/150465087-823c20b

[2022-01-21 07:32] AnKar112 commented on #51
(2) - done
After you approve everything is ok, I will do the same for edit_user_profile page

[2022-01-21 08:26] d33pspace commented on #51
@AnKar112
[Here](https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=2499%3A60788) is the information for the buttons.

[2022-01-21 08:29] d33pspace opened #52 "Button unification (all pages)"
@AnKar112
All buttons in the app should comply with [these](https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=2499%3A60788) rules.

The only pages I know that need to be updated with this information at the time being are involved with Issue #51.

[2022-01-21 08:45] d33pspace opened #53 "Header updates (multiple pages)"
@AnKar112
(1) The following pages have updates ready in Figma [here](https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=2362%3A27575) for header changes.

new_item
edit_item
item_catalogue
settings_admin
settings_service
start_the_service

(2) All user page headers have also been updated to black.

(3) Please disregard report pages for now. I am still discussing with Mari

[2022-01-21 08:49] d33pspace opened #54 "Functional page design"
@AnKar112
The Give page is looking great! Please continue working on the Give page only until it's confirmed.

Mariia's comments are as follows:

(1) It seems to me that there are not enough hovers on all active elements (the reaction of the element to pointing the cursor). I made a pale green colour in the visualizations, but grey is also possible. Elements: item line, meal/rate button, FAB, FAB-

[2022-01-21 08:56] d33pspace opened #55 "Disabled fields (edit_guest)"
@AnKar112
Regarding [this](https://imgur.com/3GMsn91) issue.

Mariia's comments are:

This is not a placeholder, you cannot enter text here. Inside of this element text appears automatically when the user enters a name in Hanzi on the line above. Therefore, there is a background here, if the name is entered - green, if not entered - grey.

[2022-01-21 12:53] AnKar112 commented on #51
(1) - done
(2) - sorry for that, done too
Also, you can use class "disabled" on button for disabled state when you need it.

[2022-01-21 13:09] AnKar112 commented on #52
Done for edit_guest, forgot_password, main_page, password_recovery, password_recovery_success, sign_in, sign_up, success
Main_page_admin need it too?

Will do it for new_guest too, after we approve everything on edit_guest

[2022-01-21 15:42] AnKar112 commented on #53
(1) (2) - I checked all the pages from figma link, all headers must be done now.
Layout changes from Mairia comments done too.
Check it, please.

Also, we have no this 'blank' guest profile page https://i.imgur.com/Ob7FjEq.jpg
and no separate pages for 'edit user', 'edit profile' and settings-admin pages
Should I make it?

[2022-01-22 04:15] d33pspace commented on #53
@AnKar112
Everything looks great!

Yes, please go ahead and make a template for "blank" guest profile.

I will ask about the other ones. Thank you for pointing them out.

[2022-01-22 04:17] d33pspace commented on #51
@AnKar112
Looks great! Please add the same thing now for edit_user_profile.

[2022-01-22 04:20] d33pspace commented on #52
@AnKar112
Everything here looks great!

main_page_admin is obsolete. Please remove it from the repository and index.html to avoid confusion. Thanks for pointing this out.

[2022-01-24 07:41] AnKar112 commented on #51
Done

[2022-01-24 07:47] AnKar112 commented on #52
Done

[2022-01-24 08:04] AnKar112 commented on #53
Done

[2022-01-25 01:42] #51 closed

[2022-01-25 01:43] d33pspace commented on #52
@AnKar112
I think this is done. Can you confirm?

[2022-01-25 07:19] AnKar112 commented on #52
Yes, I think we can close this

[2022-01-25 08:11] AnKar112 commented on #54
Everything is done, check please

[2022-01-25 08:45] AnKar112 commented on #55
The styles part is done. For now, the field with ID 'pinyin' has #F1F2F4 background and is disabled for change.
If I understand you correctly, the work by automatic translation will be done by your developer. For changing the background to #DDF0EE , he should give a class 'filled' to this field.

[2022-01-26 09:57] d33pspace commented on #54
@AnKar112
Here are Mariia's comments on the Give page:

@d33pspace it looks great!
I have a few edits:
1) Add border-radius to item lines in the Full Clothing List:
![image](https://user-images.githubusercontent.com/89512026/151125303-611538e6-c74b-4542-8010-1246d5a9dd1b.png)

2) Please add a blank space after the list (120px) so that the content can be scrolled above the FAB. (Make this on every

[2022-01-26 10:11] d33pspace commented on #53
@AnKar112
I'm sorry a few additional changes here. The following pages need to have the header changed to black. Current models are [here](https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=2362%3A27575).

edit_guest
guest_list
behavior_overview
guest_profile_history
guest_profile_item_lost
guest_profile
guest_profile_blank
new_guest
settings
settings_admin
settings_langu

[2022-01-26 10:49] d33pspace opened #56 "Report design"
@AnKar112
The report designs have been finalized, they are [here](https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=2362%3A27575) on the bottom row.

The date picker is [here](https://material.angular.io/components/datepicker/overview#date-range-picker-overview).

And Mariia provides this capture for reference:
https://user-images.githubusercontent.com/89512026/151147639

[2022-01-26 13:35] AnKar112 commented on #53
Done for all these pages. Check it.

[2022-01-26 14:30] AnKar112 commented on #54
(1) - done
(2) - give additional 120px padding to:
edit_guest
edit_user_profile
give_page
guest_profile
guest_profile_blank
item_catalogue
main_page
new_item
users_list
start_the_service
edit_item

new_guest need FAB? For now, it has no.
(3) - we can't because we have different click-functional for left and right parts
http://ipic.su/img/img7/fs/kiss_63kb.1643206913.jpg

(4) - can you make a video

[2022-01-26 14:41] AnKar112 commented on #56
@d33pspace as I said to you here https://github.com/d33pspace/RenewalMgtApp-FE/issues/5#issuecomment-1004847509 I can't use Angular datepicker.

If your developer uses Angular for this project - he could. But from my side I couldn't, I work only with HTML.

[2022-01-26 14:46] AnKar112 commented on #56
https://vcalendar.io/
We can use our old datepicker for report pages

https://vcalendar.io/examples/datepickers.html
"date range" example looking pretty simular to our design

[2022-01-27 03:18] d33pspace commented on #56
@AnKar112
Oh I'm sorry thank you for the correction.

Yes, I was perfectly happy with our old date-picker for report pages. Can you do your best to implement it with Mariia's other changes and we'll take a look?

[2022-01-27 03:27] d33pspace opened #57 "Padding under FAB"
From Mariia:

2) Please add a blank space after the list (120px) so that the content can be scrolled above the FAB. (Make this on every page where FAB displays)
![image](https://user-images.githubusercontent.com/89512026/151125761-f8d7379a-2af8-44b7-aa0b-0a3a554adf90.png)

---

From Anton:

(2) - give additional 120px padding to:
edit_guest
edit_user_profile
give_page
guest_profile
guest_profile_b

[2022-01-27 03:37] d33pspace commented on #57
@AnKar112
Yes, please add FAB to new_guest. Thank you for catching that!

[2022-01-27 03:40] d33pspace commented on #54
@AnKar112
(1) Looks great!

(2) I have moved this discussion to Issue #57 so we can focus on functional pages only here.

(3) Fine.

(4) I've attached a video here, but I noticed this only happens in Firefox, and we only need our app to work in Chrome so do not worry about this.
https://user-images.githubusercontent.com/13606352/151287809-7487eb76-5807-4f52-9a95-58b5139b4236.mp4

(5) Give page loo

[2022-01-27 15:49] AnKar112 commented on #54
(4) - if you said so, okay

(5) Take page - everything must be done, check, please. I have a few questions:

I think we need to center this dash (from laundry list blank item) http://ipic.su/img/img7/fs/kiss_26kb.1643297510.jpg
Also, for give page too http://ipic.su/img/img7/fs/kiss_18kb.1643297560.jpg
And I forgot - do you need this overlay for take page http://ipic.su/img/img7/fs/kiss_59kb.16432

[2022-01-28 03:01] d33pspace commented on #57
@AnKar112
I'm sorry just a few tiny things... I just want to make sure to correct them now so they don't get transferred to the app...

On new_guest,

(1) Please add (*) to indicate required field after "Name in Hanzi".

(2) Please correct spelling of "Guest ID" (last field).

[2022-01-28 03:09] d33pspace commented on #54
@AnKar112
I think maybe you didn't push your changes to the Take page?

You have a good point about the dashes. I will ask Mariia about it.

The overlay you mention is only for the Give page. But I see Mariia has not updated it with the new design so I will confirm with her.

Thanks again for pointing these things out.

[2022-01-28 07:19] AnKar112 commented on #54
Sorry for that. Check again, please

[2022-01-28 07:20] AnKar112 commented on #57
Same as in 54 task - it wasn't pushed. Check it again, please

[2022-01-28 07:47] d33pspace commented on #54
@AnKar112
Take page looking great!

(1) The Laundry tag number needs to be editable. I'm sorry but can you please check the page before it was changed to confirm the exact behavior of editing the number? I remember we discussed this but I can't remember exactly how Mariia and Edward wanted it to work - there were some particular things about it.
![Screenshot 2022-01-28 153920](https://user-images.

[2022-01-28 08:02] AnKar112 commented on #54
(1) - not a problem, but I need to know how exactly it should be done. I can make this http://ipic.su/img/img7/fs/kiss_42kb.1643356330.jpg to be input, but without ant input-styles like borders, and unchangeable until you click on the edit button.

(2) - done

Also, as for take page, we have no this overlay http://ipic.su/img/img7/fs/kiss_59kb.1643298459.jpg so I can do all card clickable as you a

[2022-01-28 08:45] d33pspace commented on #54
(1) I'm sorry about this, and I don't know how much trouble it is because I don't know much about GitHub. Is it possible that you reverse the most recent changes to the Take page so I can see how the Laundry Tag edit field is supposed to work? I remember there were some particular things that Edward and Mariia wanted, but I can't remember exactly now. But it was working correctly in the previous v

[2022-01-28 08:53] AnKar112 commented on #54
@d33pspace
(1) - can you look at the app that edwazhao created? As I understand, it should be the old version there.
If so, it will be much easier.

It was worked close to my description: http://ipic.su/img/img7/fs/kiss_21kb.1643359840.jpg
Unchangeable input without the ability to focus. But after click on the edit button you automatically focus on input.

Return page:  http://ipic.su/img/img7/fs/

[2022-01-28 08:58] d33pspace commented on #54
@AnKar112
(1) I checked the app, and Edward has not made that field editable yet. No worries. The description you gave is enough. I'll pass this on to Mariia for her design consideration.

(2) Resolved.

(3) Pending (dash and overlay).

(4) Return page, yes, please make the list backgrounds on each page different as designed. The color behind the list is the same color as the header on each page,

[2022-01-28 09:02] AnKar112 commented on #54
@d33pspace
(4) - these colors are just so much close to each other that I can't see the difference :)
#EBF8FF for take page and #EBFAFA for give page. Just looks like a mistake, I think it should look more different.

Also. return page have problems with icons too http://ipic.su/img/img7/fs/kiss_21kb.1643360267.jpg

[2022-01-28 10:03] d33pspace commented on #54
@AnKar112
(4) I will confirm with Mariia on the colors and icons. Thank you for pointing these out.

[2022-01-28 10:06] d33pspace commented on #56
@AnKar112
Just wanted to make sure you saw my comment above in case we can also move this issue forward.

[2022-01-28 16:00] AnKar112 commented on #54
Return page is done. Check it, please.

@d33pspaceI have a one request. If I understood correctly, edwazhao will take my files only when all will be done? Or he picks them up as soon as them ready?

I'd like ask you about improving the code.
When there are so many design changes, there is a chance that some unused styles or JS-strings will be left in files. I clean it when I work, but I can miss s

[2022-01-28 16:05] AnKar112 commented on #56
@d33pspace everything is fine, I will use Vue datepicker.
Can you please tell me in detail how datepicker should work?
Because I can come up with different ways to make this http://ipic.su/img/img7/fs/kiss_32kb.1643385658.jpg
For example, "this week'. A week like literally this week? I mean, if you click on it on Monday, it will show only one day.
Or week like 7 days from today?

[2022-01-29 01:09] d33pspace commented on #54
@AnKar112
(1, 3) I am still waiting on Mariia for details on Laundry tag edit field, dash and overlay.

(4) Looks great. Just a question... in production, only one icon can be selected at a time... Trash, Lost or Return. And only when all items have been selected with either Trash, Lost or Return will the FAB display. Is this your responsibility for HTML template, or is this something Edward takes

[2022-01-29 01:10] d33pspace opened #58 "Clean up all HTML templates"
From Anton:

---

I'd like ask you about improving the code.
When there are so many design changes, there is a chance that some unused styles or JS-strings will be left in files. I clean it when I work, but I can miss something.
I'd like you to have a clear code. Could you, please, set me a task to check all the files once the redesign will be finished?
I'd like to double-check everything on the f

[2022-01-29 01:23] d33pspace commented on #56
@AnKar112
Good question. I'm glad you asked.

The only time the Vue datepicker will appear is when the User taps "Custom". When the user taps "Custom" the datepicker will appear. It can be blank at first, and the User can choose either one day, or a range of dates. If they choose one day, the same date is entered in both the beginning and end date fields. If they choose a range, the start date is

[2022-01-31 09:45] AnKar112 commented on #56
@d33pspace I can't get styles from figma, because an image is above all datepicker http://ipic.su/img/img7/fs/kiss_99kb.1643622204.jpg
Could you ask Maria to remove it?

[2022-01-31 14:13] AnKar112 commented on #54
(1) - done. But design is different http://ipic.su/img/img7/fs/kiss_52kb.1643630676.jpg
(2) - done
(3) - done
(4) - done
(5) - done
(6) - done

[2022-02-01 01:33] d33pspace opened #59 "Items under types"
@AnKar112
Mariia has updated the look of items under types for the following pages. There is no longer space or shading.

item_catalogue
give_page
take_page

For example:
![Screenshot 2022-02-01 093324](https://user-images.githubusercontent.com/13606352/151900291-8af3c93d-bee9-40a1-851b-ec2d8f2a9c4b.png)

[2022-02-01 10:20] AnKar112 commented on #56
Everything is done, except:
(1) - We have no pages Unfulfilled requests and Items we trashed. It looks totally the same as Item we lost. Should I just dublicate Item we lost ?
(2) datepicker styles - still waiting for http://ipic.su/img/img7/fs/kiss_99kb.1643622204.jpg

Check report pages and give me your feedback, please.

[2022-02-01 10:21] AnKar112 commented on #59
Done

[2022-02-02 06:17] d33pspace commented on #56
@AnKar112
(1) If everything is the same, I don't think you need to create the template, I think Edward can just do that himself. Don't you agree?
(2) The date-picker looks great to me! I am waiting on Mariia to confirm.

[2022-02-02 09:20] d33pspace commented on #56
@AnKar112

Mariia has made some updates to the styles for the reports, date-picker, her comments are below... I do not really understand all of it. If there is something you do not understand just let me know and I will ask her.

[Here](https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=2362%3A27575) I made mockup with styles
![image](https://user-images.githubusercontent

[2022-02-02 09:25] d33pspace commented on #54
@AnKar112
Mariia has made updates to the overlay window on the Give page in Figma [here](https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=2362%3A27575). This overlay is only on the Give page.
![Screenshot 2022-02-02 172335](https://user-images.githubusercontent.com/13606352/152126933-c42094f7-7251-43ac-a51e-a8bcd75ee450.png)

[2022-02-02 13:20] AnKar112 commented on #56
Everything is done.

[2022-02-03 02:25] d33pspace commented on #54
@AnKar112
This looks great!

Just one small thing... the number in the Given column will correspond to the number of items in the overlay window, so when tapping on that number, the overlay should open, just like when tapping on the item name. (By the way, there will not always be a number in the Given column. There is only a number there when that item has already been given to the Guest.)

[2022-02-03 08:13] AnKar112 commented on #54
Done

[2022-02-03 08:34] d33pspace commented on #58
@AnKar112
All the work you have done has been great, thank you!

This thread is just to remind you that you asked for some time to clean up the files before we have Edward integrate them into the app.

Before you do, I want to say that while I think all of the major changes are finished now, I am still going to have Mariia review all the templates, and I still have quite a bit of testing to do to

[2022-02-17 09:18] AnKar112 commented on #58
Everything is checked, must be good.
Also. we have a problem. Vue datepicker didn't load, give 404 mistake https://i.imgur.com/FGyzTXj.jpg
I hope this is temporary issue, let's wait

[2022-02-18 01:42] d33pspace commented on #58
@AnKar112
Everything looks great, Anton. I see that the datepicker on the report pages is not working. Is this what you mean by it "didn't load"? Can you check on this again today? I thought it was working fine before - did we lose that?

[2022-02-18 07:26] AnKar112 commented on #58
(1) - we use Vue datepicker. Looking vike Vue was updated, so the calendar module become broken, and it didn't load properly.
Let's wait, I hope the guide here https://vcalendar.io/installation.html will be updated for the new Vue version
(2) - should I delete the files for burger_opened too, or just only delete the link from index.html?

[2022-02-18 08:34] d33pspace opened #60 "Delete Guest"
Hi @AnKar112
I'm sorry I just now noticed this, and for some reason these designs didn't make it to our final ones, but the Edit Guest page needs a trash can in the upper-right corner so the User can delete the Guest if necessary. There is also a confirmation pop-up window.

Can you add this, please?

Design here:
https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=2351%3A

[2022-02-18 08:40] d33pspace commented on #58
@AnKar112

(1) Alright, I'll discuss with Edward. Perhaps he can begin working on other pages and import the report pages later.

(2) I think just deleting the links from index is sufficient. This way it will be clear to Edward which pages have been updated. Thank you!

[2022-02-18 08:45] #59 closed

[2022-02-18 08:48] #55 closed

[2022-02-18 08:50] #56 closed

[2022-02-18 08:51] #54 closed

[2022-02-18 08:52] #53 closed

[2022-02-18 09:25] AnKar112 commented on #60
Done

[2022-02-18 11:48] edwazhao commented on #58
@AnKar112
For 404 when loading vue.js, maybe you can try to use different CDN, for example https://cdn.jsdelivr.net/npm/vue@3.2.31

[2022-02-18 22:59] #60 closed

[2022-02-18 23:02] d33pspace commented on #58
@AnKar112
Now that @edwazhao will begin importing the updated templates into our app, I will close all the issues in this repository (including this one) and any future issues will be handled in the front-end repository. I'll be careful to keep your issues clear. This particular issue with the Vue datepicker we will continue discussing [here](https://github.com/d33pspace/RenewalMgtApp-FE/issues/44

[2022-02-18 23:02] #58 closed

[2022-03-06 11:38] edwazhao opened #61 "Meal icon issue in give page"
https://d33pspace.github.io/RenewalMgtApp-Html/app/give_page.html

When using Phone mode, the meal icon cannot be unchecked.

![image](https://user-images.githubusercontent.com/11383105/156921350-af30d621-f2fb-41b7-842e-c77609230b6a.png)

[2022-03-06 11:39] edwazhao commented on #61
Hi @d33pspace , please help to check if we need the un-check meal icon here?

[2022-03-07 07:51] d33pspace commented on #61
Hi @AnKar112 How are you? I hope you're staying safe. We are all behind you.

Can you please check the issue above. Also, will you see if the Vue calendar has been updated?

[2022-03-07 08:13] AnKar112 commented on #61
It works as it should - uncheck working fine.
But after you uncheck it, 'finger' is still on the button, so you see hover styles https://i.imgur.com/gHMZsWD.jpg
Should I delete hover styles?

Calendar - still the same

[2022-03-07 08:19] d33pspace commented on #61
@AnKar112
Thanks Anton - may I ask is it possible that the Vue calendar has been deprecated? And in any case, what do you suggest if it is not updated in time? We really hope to launch the app as soon as possible.

[2022-03-07 08:46] AnKar112 commented on #61
Let's try another way
@edwazhao is it possible for you to use calendar throw npm? https://vcalendar.io/installation.html

[2022-03-07 09:28] d33pspace commented on #61
@edwazhao
Please see Anton's reply to the meal button issue as well as the calendar issue above.

[2022-03-07 12:33] edwazhao opened #62 "Icon is the same for thermal top/light and heavy"
See https://d33pspace.github.io/RenewalMgtApp-Html/app/item_catalogue.html

![image](https://user-images.githubusercontent.com/11383105/157035069-8e4f8518-91bf-4cb8-b670-aa2097b94c01.png)

But the icons in Figma
![image](https://user-images.githubusercontent.com/11383105/157035237-ec59ac64-325a-4f5d-96be-cb6721a80dae.png)

[2022-03-07 12:34] edwazhao commented on #62
Hi @d33pspace , is it intentional, or we should fix it?

[2022-03-07 12:47] edwazhao opened #63 "Report/Operations body will cover title when scroll"
https://d33pspace.github.io/RenewalMgtApp-Html/app/reports_operations.html

See
![image](https://user-images.githubusercontent.com/11383105/157037322-a4c7bee5-81ec-435e-8a1b-3385c30f5314.png)

[2022-03-07 12:47] edwazhao commented on #63
Hi @d33pspace , please help to check this issue

[2022-03-08 00:58] d33pspace commented on #62
@AnKar112
Please fix the "thermal top/heavy" icon.

[2022-03-08 00:59] d33pspace commented on #63
@AnKar112
Please fix the issue above.

[2022-03-08 01:03] d33pspace commented on #61
@AnKar112
I agree with Edward, the current design is not suitable for mobile browser. Perhaps Mariia did not understand that mobile browser is our main interface. Please fix this, and I wonder if we need to change other hover actions as well?

Also check Edward's work on the calendar. The current calendar/date-picker on the reports_operations page looks great to me!

[2022-03-08 12:43] edwazhao opened #64 "SCSS complains fill-available"
Hi Anton,
During the npm build, it complains that:

`Replace fill-available to stretch, because spec had been changed`

I think it is located in start_the_service.scss, I have changed it from `width: fill-available` to `width: stretch`, I don't understand the setting, so could you please confirm it works as expected?

[2022-03-09 07:44] AnKar112 commented on #64
I changed `width: fill-available` to `width: 100%` in start_the_service

[2022-03-09 07:59] AnKar112 commented on #61
About hovers - I removed it for mobile resolutions (769px and less). So on the desktop you still have hovers.
Should I check all pages for hovers?

About the calendar - great job, thank you!

[2022-03-09 08:10] AnKar112 commented on #62
I just was confused because of different naming https://i.imgur.com/E940maN.jpg
Done

[2022-03-09 15:12] #64 closed

[2022-03-10 02:15] d33pspace commented on #61
@AnKar112
Yes, please check all pages for hovers and remove them for mobile resolutions. Please post a list here of the files that are changed. Thank you!

[2022-03-10 08:29] AnKar112 commented on #61
forgot_password.html - button
give_page.html - FAB, cards hover
main_page.html - serve button
password_recovery.html - button
password_recovery_success.html - button
reports_behavior.html, reports_item_lost.html, reports_behavior_overview.html, reports_operations.html - datepicker button, datepicker options
return_page.html - buttons, fab
sign_in.html, sign_up.html - button
take_page.html - FAB, c

[2022-03-10 11:34] d33pspace commented on #63
@edwazhao
This looks good to me. Do you agree?

[2022-03-10 11:35] d33pspace commented on #61
@edwazhao
Please note the pages here with updated hovers and datepickers. Please let us know if you need anything else here.

[2022-03-12 12:07] edwazhao commented on #61
Everything looks good, I will close it.

[2022-03-12 12:07] #61 closed

[2022-03-12 12:07] edwazhao commented on #63
Yeah, looks good.

[2022-03-12 12:07] #63 closed

[2022-03-18 09:52] elainetao829 opened #65 "Chinese translation problem"
Some Chinese are not translated properly. Please correct them as below,
1. 登陆 --> 登录
<img width="194" alt="image" src="https://user-images.githubusercontent.com/42002784/158980764-3bf9241f-7c6c-4445-bcfa-4340912325f3.png">

2. 中国人 --> 中文
<img width="187" alt="image" src="https://user-images.githubusercontent.com/42002784/158980720-58f49a40-80a5-4b65-a66f-db5f8306ce9d.png">

3. 仍 --> 扔
<img width="

[2022-03-18 10:05] elainetao829 opened #66 "The user edit page is not completely translated into Chinese."
The user edit page is not completely translated into Chinese, even I select the language as Chinese, they are still in English. See below,
<img width="431" alt="image" src="https://user-images.githubusercontent.com/42002784/158981185-4c358545-465a-4631-9a18-7fa4acecec9f.png">

<img width="330" alt="image" src="https://user-images.githubusercontent.com/42002784/158981528-9e4dbf18-c38f-41bb-b240-cf8

[2022-03-18 10:19] elainetao829 opened #67 "The date widget is extremely not user friendly when user opens the system with a laptop."
It's really hard to select a year with a mouse.
https://user-images.githubusercontent.com/42002784/158985041-1067a161-9aa4-4eac-a800-a46dd73d2799.mp4

[2022-03-18 14:42] elainetao829 opened #68 "The numbers of in-service capacity/duration and waiting duration shall be >= 0"
The numbers of in-service capacity/duration and waiting duration shall be >= 0
<img width="372" alt="image" src="https://user-images.githubusercontent.com/42002784/159024101-7c204abb-7dfd-4c4c-951b-3c592d414b00.png">

[2022-03-18 14:50] elainetao829 opened #69 "After deleting a user account, the user still can log in."
Steps:
1. Log in as an admin.
2. Deleting one user account.
3. Log out the admin account.
4. Log in with the account deleted in step 2.

Actual Result:
User can still log in with the deleted account. And the buttons are still enabled after log in.

https://user-images.githubusercontent.com/42002784/159025639-63f60584-ec4b-4f4e-82dd-6cb55be3cfb6.mp4

Expected Result:
Deleted account shall not be ab

[2022-03-18 15:13] elainetao829 opened #70 "Sometimes saving a new visitor is not successful."
Steps:
1. On the visitor management page, click the + button to add a new visitor.
2. Enter name, birthday, sex and province.
3. Click Save.

https://user-images.githubusercontent.com/42002784/159029789-9cfb9688-672d-4bed-9643-7d2808b5f06b.mp4

Bug #1: although I didn't upload any picture, some picture I uploaded for another user came up.
Expected Result: No picture shall be displayed.
Bug #2. Whe

[2022-03-19 02:26] edwazhao opened #71 "Remove text-transform: capitalize;"
Please remove all the text-transform: capitalize;

Since we need customized text of Item names, the css makes it difficult to maintain, please remove all of them, I have removed them in FE repo, please help to do the same for HTML repo, thanks.

No rush on this.

[2022-03-19 02:34] d33pspace commented on #67
This is a known issue and since we'll be using mobile devices exclusively at the drop-in center we will deal with it later.

[2022-03-19 03:04] edwazhao opened #72 "Please correct the report file name with correct content"
Sorry, it confused me every time. See:
![image](https://user-images.githubusercontent.com/11383105/159104292-8e38e2f5-7b61-4011-ab3c-b3d08c84aac2.png)
![image](https://user-images.githubusercontent.com/11383105/159104305-a9725a7c-5c55-4502-a86a-51403c1d0db6.png)

[2022-03-20 12:18] edwazhao commented on #65
@elainetao829 , fixed.

[2022-03-20 13:34] edwazhao commented on #66
It is fixed, please check.

[2022-03-20 14:21] edwazhao commented on #68
fixed.

[2022-03-20 14:50] edwazhao commented on #69
Fixed

[2022-03-21 03:36] elainetao829 commented on #69
Verified successfully.

[2022-03-21 03:36] #69 closed

[2022-03-21 03:37] elainetao829 commented on #66
Verified successfully.

[2022-03-21 03:37] #66 closed

[2022-03-21 03:42] elainetao829 commented on #65
Verified successfully.

[2022-03-21 03:42] #65 closed

[2022-03-21 03:42] elainetao829 commented on #68
Verified successfully

[2022-03-21 03:42] #68 closed

[2022-03-22 02:32] d33pspace commented on #67
@elainetao829 Please move this to the FE repository and label it as "minor."

[2022-03-22 09:35] elainetao829 commented on #70
cannot reproduce

[2022-03-22 09:35] #70 closed

[2022-03-23 01:58] d33pspace opened #73 "Meal button alignment and behavior (desktop)"
@AnKar112
(1) I noticed the meal button vertical alignment on the main page is off depending on the number of digits in the time.

![158725326-e5bc7b87-415b-4ee8-bf09-28a6974a82f4](https://user-images.githubusercontent.com/13606352/159612028-904df9b1-8b31-4932-a0e2-a5a7d7d35cac.png)

(2) On desktop and mobile, I'd like the meal button to turn to red background when pressed. This applies to the mai

[2022-03-23 02:00] d33pspace commented on #67
I'm closing this and moving it to the FE repository.

[2022-03-23 02:00] #67 closed

[2022-03-23 02:19] d33pspace opened #74 "Distribution modal update"
@AnKar112
We are changing the icons on the distribution modal on the giving page according to the details [here](https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=2362%3A27575).

I believe the only change are the icons on the left column. The function here does not matter for the design - we just need the template updated.

![Screenshot 2022-03-23 101702](https://user-im

[2022-03-23 08:49] AnKar112 commented on #74
1. About blank card (I noticed this comment https://i.imgur.com/imcOc3k.jpg ) - I made this card (it has class 'blank'), it just not displaying. You can easily turn it when you need, just off "display: none;"
https://i.imgur.com/k0qD9db.jpg
2. New icons - done

[2022-03-23 09:11] AnKar112 commented on #73
(1) - done
(2) - done. But now it turns red when you press all this block, is it right?
https://i.imgur.com/oMMdQ95.jpg
(3) - done. But we have a little problem there. Both icons, faces and meal, have totally the same transition time.
But faces background color bit more "aggressive", more bright. Because of that it looking like icons have different speed of color change.

[2022-03-23 09:19] AnKar112 commented on #72
@d33pspace As I can see, all report pages have this problem with naming. I'm confused a little - what to orientate towards?
Can you clarify how should I name these pages?

[2022-03-23 09:21] AnKar112 commented on #71
Done

[2022-03-23 09:55] d33pspace commented on #72
@AnKar112
Hi Anton! Let's go with the file name same as the heading of the report. So rename like this:

reports_operations.html > reports_distribution.html
reports_behavior.html > reports_operation.html

Please also correct the <title>

[2022-03-23 10:06] d33pspace commented on #73
@AnKar112 Hi!
(1) Looks great!

(2) Looks better, but the hover effect on the Main page is different than the Give, Take and Return pages. I want the meal buttons on the Main page to work exactly like the ones on the Give, Take and Return pages. Right now, if the button is red on the Main page, and you hover over it, it is still red, it does not turn light pink.

(3) I see what you mean about the

[2022-03-23 10:09] d33pspace commented on #74
@AnKar112
These changes look great and thank you for pointing out the "blank" card! Closing this issue.

[2022-03-23 11:25] AnKar112 commented on #73
@d33pspace (2) - done

[2022-03-23 11:33] AnKar112 commented on #72
Check it, must be good now

[2022-03-23 23:03] d33pspace commented on #72
@edwazhao
Please take a look that the new filenames are what you intended.

[2022-03-23 23:04] d33pspace commented on #71
@edwazhao
Please confirm at your convenience.

[2022-03-24 09:35] d33pspace opened #75 "Unify search"
@AnKar112
I'm sorry I just noticed we don't have a persistent search field on guest_list or start_the_service.

Can you please implement [Mariia's design](https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=2362%3A27575) on these two pages? She says this is "[persistent search](https://material.io/design/navigation/search.html#persistent-search)" by Material Design. Actual

[2022-03-24 09:41] d33pspace commented on #73
@AnKar112
Concerning (3), Mariia has updated the meal and faces buttons [here](https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=2494%3A44537). I'm sorry she seems to have changed both "hover" and "pressed" effects, and I would like these to be the same across Main, Give, Take and Return pages.

[2022-03-24 09:45] d33pspace opened #76 "Return page missing "Return all" checkbox"
@AnKar112
I also noticed the "Return all" checkbox was missing in our new design on the Return page. Mariia has corrected it [here](https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=2362%3A27575).

![159879587-234525a6-0ba8-463b-aca1-5337a59a2fe5](https://user-images.githubusercontent.com/13606352/159888725-6440aab1-f216-4f1e-b0dc-b00d54da49c7.png)

[2022-03-24 09:52] d33pspace opened #77 "Update to item_catalogue"
@AnKar112
We are updating the design of item_catalogue to make it more user friendly. New design [here](https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=2362%3A27575).

<img width="561" alt="159893598-1a3165a1-3da3-4b8e-acc6-b6d7e998ba32" src="https://user-images.githubusercontent.com/13606352/159893908-1ac589b0-3f8b-4676-a10a-5333a66a2a72.png">

[2022-03-24 11:13] d33pspace opened #78 "Change Guest and User default icon"
@AnKar112
Let's please change the default icon for [new_guest](https://d33pspace.github.io/RenewalMgtApp-Html/app/new_guest.html), etc. to this style. Design in Figma is [here](https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=680%3A1100). This will apply to new_guest, edit_guest, user_profile, users_list, guest_list and other pages - anywhere there is a user or guest wi

[2022-03-24 11:15] d33pspace opened #79 "Add hat Type"
@AnKar112
Add a Type for Hat on item_catalogue using this icon which is available in Figma [here](https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=673%3A2851).

![159896809-6acf0327-ceb8-45da-8dc9-b6190aef2f85](https://user-images.githubusercontent.com/13606352/159904992-a2df5019-7b05-4f49-9de8-7ebfc83ea4c0.png)

[2022-03-24 23:31] d33pspace opened #80 "Change "Not found" icon"
The "Not found" icon on the [give page](https://d33pspace.github.io/RenewalMgtApp-Html/app/give_page.html) is a trash can. This doesn't make sense. "Not found" means that the Guest asks for something, for example, a pair of pants, but we do not have any in inventory. So the icon should be maybe a magnifying glass with an X? Or a sad face with Xs for eyes? I could not find something in our icon col

[2022-03-25 07:57] AnKar112 commented on #73
Done.
Btw, again about (2). For now, it works as you want, but it's not a very good idea. Because of that, we have a little bug - when you click on the icon and after that continue to hover the cursor, the icon still has hover styles, not active styles.

[2022-03-25 08:05] d33pspace commented on #73
@AnKar112
The change looks good, Anton. But I agree. Is this something you can correct yourself, or do you need Mariia to provide a design for it?

[2022-03-25 08:13] AnKar112 commented on #75
@d33pspace I should only make layout, not the functional, right?
And by the way, we also have the buttons 'search' on guest list, user list, and item catalogue.

[2022-03-25 08:42] d33pspace commented on #75
@AnKar112
Yes, layout only.

- I would like persistent search on guest_list and start_the_service
- user_list can have either persistent search or expandable search. Expandable search is my preference, but if it takes a lot more time, let's do persistent search.
- Please remove the search button on item catalogue. It's not necessary.

Let me know if you need a design for any of these. Mariia has d

[2022-03-25 09:32] AnKar112 commented on #76
Done

[2022-03-25 09:36] AnKar112 commented on #73
I can do it myself, I mean it can't work together.
If the button in active state, hover styles must be off, other way we have this bug

[2022-03-25 09:49] AnKar112 commented on #75
https://material.io/design/navigation/search.html#persistent-search - this is not really what can I do. I didn't think that material design is a guide for developers at all. As I know, devices have their own styles of search dropdown menu. Android, iOs - they have their own styles. Maybe @edwazhao knows more about that.

[2022-03-25 10:44] d33pspace commented on #75
@AnKar112
Our app is a web app, not Android or iOS. Are you able to add the search start_the_service page like in Mariia's design on Figma? That is most important.

[2022-03-25 10:47] d33pspace commented on #73
@AnKar112
I'm sorry Anton, I don't understand. I'm not a technical person so I don't really know what you are saying. It is fine to turn hover styles off in active state if that is what is required. Are you able to change this how it should work, or do you need some additional design guidance from Mariia? 😊

[2022-03-25 12:20] MariiaBubley commented on #80
@d33pspace "not found" in mockups - is an alert triangle

![image](https://user-images.githubusercontent.com/89512026/160113495-48452cd8-6e44-476c-8811-c615534d06e6.png)

But if you want, I can change it on this one
![image](https://user-images.githubusercontent.com/89512026/160119637-1fca4faa-76bd-4c73-915a-616ec4ea0bf0.png)

[2022-03-25 12:30] AnKar112 commented on #77
If I get everything right, done. Check it please.

[2022-03-25 12:34] AnKar112 commented on #73
No, I can do it myself. Done.

[2022-03-25 12:41] AnKar112 commented on #75
Okay, I will make the layout. But I can't find dropdown styles in figma, like that https://i.imgur.com/aO3GpfA.jpg can you give me a direct link?

[2022-03-25 12:51] AnKar112 commented on #78
Can Mariia give me this picture in 96x96 resolution, please?

[2022-03-25 12:55] AnKar112 commented on #79
Done

[2022-03-26 00:37] d33pspace commented on #80
@AnKar112
We are changing the "Not found" icon from trash can to magnifying glass with X, as shown above. Please make the change to give_page. (This only appears on give_page.)

[2022-03-26 00:56] d33pspace commented on #77
@AnKar112
Looking good! Just a few things...

(1) The Active/Inactive indicator needs to also be on Items.
(2) There may be stars on Types that do not expand.
(3) Please align the washing machine icons if possible.

Also note that ALL rows (Types and Items) will have Active/Inactive indicators. But the washing machine and star icons will only appear on rows according to the settings of those Types

[2022-03-26 01:04] d33pspace commented on #73
@AnKar112
Perfect! Thanks! Sorry for my confusion!

Just one small thing. These "blank" rows should not have blank button or time.
![Screenshot 2022-03-26 090320](https://user-images.githubusercontent.com/13606352/160218490-eda4892c-5f93-4453-b92c-8f06bdeb0158.png)

[2022-03-26 01:07] #76 closed

[2022-03-26 01:14] d33pspace commented on #75
@MariiaBubley
The following pages have Search, and this is how I'd like the search fields on those pages:

(1) [guest_list](https://d33pspace.github.io/RenewalMgtApp-Html/app/guest_list.html) (Persistent search)
(2) [start_the_service](https://d33pspace.github.io/RenewalMgtApp-Html/app/start_the_service.html) (Persistent search)
(3) [user_list](https://d33pspace.github.io/RenewalMgtApp-Html/app/us

[2022-03-26 01:24] d33pspace commented on #74
@AnKar112
I'm sorry one more thing here.

In [your template](https://d33pspace.github.io/RenewalMgtApp-Html/app/give_page.html), there is no example of the row with the garbage can on it, like the last row in the Figma sample above.

[2022-03-26 09:30] edwazhao commented on #71
Looks good, thank you.

[2022-03-26 09:30] #71 closed

[2022-03-26 09:30] edwazhao commented on #72
Looks good, thank you.

[2022-03-26 09:30] #72 closed

[2022-03-26 12:47] edwazhao commented on #75
@d33pspace  @academws
I am not sure about the difference of Persistent search and Expandable search.
For the [guest_list](https://d33pspace.github.io/RenewalMgtApp-Html/app/guest_list.html) (Persistent search), does it mean we don't load anything for the guest_list page when first go the page?

From my point of view, if user type anything in the search area below, the list will also be updated bas

[2022-03-26 12:56] edwazhao commented on #74
@AnKar112
Could you please make an example in the `give page` of  `just off "display: none;"` you mentioned above, since the current issue could be difficult to track in the future, it is better to have the example available in the template.

BTW, to make it easy for you there is no need to fill all the Given column, because some of them could be empty. For the modal dialog, just some valuable exa

[2022-03-27 03:42] d33pspace commented on #75
@AnKar112
Edward has a good point here. There is no dropdown style necessary. The list will update based on what is entered in the search field. Knowing this, are you able to make the updates to the necessary pages without Mariia's new design?

[2022-03-28 22:49] d33pspace commented on #74
@AnKar112
Summary here:

On give_page distribution pop-up modal, please provide examples of a row with a garbage can on it (according to design in [Figma](https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=2362%3A27575), and a row with "display: none;"

[2022-03-29 07:00] AnKar112 commented on #73
Done

[2022-03-29 07:35] AnKar112 commented on #75
Good idea. But I am confused a little - on page "Headers" in Figma we have two "Guest Lists" with a different design of search:

https://i.imgur.com/eUCOjBK.jpg
https://i.imgur.com/bh46csW.jpg

And by the way, "Headers" page becoming very huge, let's stop using it. It becoming hard to find something there.

[2022-03-29 08:44] AnKar112 commented on #77
Check it again, must be good now

[2022-03-29 09:46] AnKar112 commented on #75
Done, take a look.

[2022-03-29 10:05] AnKar112 commented on #78
Done, but I found blank avatar pictures only in new_guest and main_page

[2022-03-29 10:12] AnKar112 commented on #80
Done

[2022-03-30 00:52] d33pspace commented on #75
@AnKar112
Fantastic!

[2022-03-30 00:52] #75 closed

[2022-03-30 00:55] d33pspace commented on #80
@AnKar112
So cool!

[2022-03-30 00:55] #80 closed

[2022-03-30 01:03] d33pspace commented on #77
@AnKar112
Perfect!

[2022-03-30 01:03] #77 closed

[2022-03-30 01:08] d33pspace commented on #73
@AnKar112
Thank you!

[2022-03-30 01:08] #73 closed

[2022-03-30 01:09] #74 closed

[2022-03-30 01:11] #79 closed

[2022-03-30 01:13] #78 closed

[2022-04-06 01:25] d33pspace opened #81 "Update "suit coat" icon"
@AnKar112
Please update the suit coat icon to look like [this](https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=2362%3A27575)...

![suit](https://user-images.githubusercontent.com/13606352/161877082-814cd09a-8163-4f1f-bd18-786755e982db.png)

[2022-04-06 06:30] AnKar112 commented on #81
Done

[2022-04-06 06:53] d33pspace commented on #81
@AnKar112
Thank you!

[2022-04-06 06:53] #81 closed

[2022-04-13 07:03] d33pspace opened #82 "Change report icon colors"
Hi @MariiaBubley ...

Just a tiny change here. We need to reverse the color of the icons and text for increase and decrease. In China red is the good color and green is the bad color, so increase here needs to be red, and decrease needs to be green. The same is true for the clocks on the same report, increase in time should be green (because that's bad), decrease in time should be red (good).

Thi

[2022-04-13 12:29] edwazhao commented on #82
Hi @d33pspace ,
To your description

From my point of view, it is not the case, green means good, red mean bad, @elainetao829 what your opinion?
Same color used in notifications, green means success, and red means error
![image](https://user-images.githubusercontent.com/11383105/163179963-6b0b402e-3b8b-4143-8835-2117c23a957e.png)

[2022-04-13 22:02] d33pspace commented on #82
@edwazhao
Ah. Interesting. I am thinking of stock market reports. Red numbers are good. Green numbers are bad. @elainetao829 What is your opinion for our reporting? My current opinion is for alerts, red is failure, green is success. For reporting, red is good, green is bad. I don't think it's confusing because the context is different.

[2022-04-14 15:10] edwazhao commented on #82
@d33pspace By the way, beside increase and decrease icons, do we need an equals icon? And what color for equals?

[2022-04-16 01:44] #82 closed

[2022-04-19 04:23] d33pspace opened #83 "Reporting icons/colors update"
Hi @MariiaBubley

We need just a few updates on our reporting icons and colors... see screenshot below...

(1) I believe the icon for the Distribution report (appears on Reports main page, and Distribution Report page, first column) should be the Give clothing icon (roll of clothing with stars over it) like on the Give page. Do you agree?

(2) The "Unfulfilled requests" icon should be the magnifyi

[2022-04-19 12:37] MariiaBubley commented on #83
@d33pspace  Mockup [here](https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=2976%3A50734)
(1) Yes, changed
(2) Changed
(3) I suggest using just two icons - chart and clock - chart describe quantity, hours - time. And the colour (together with the text after the icon) shows the trend. Red - growth, green - decline, yellow - static.

![image](https://user-images.githubuser

[2022-04-19 23:07] d33pspace commented on #83
Hi @AnKar112
We have just a few small changes to icons on a few reporting pages with details above and new designs by Mariia [here](https://www.figma.com/file/3DZItCETG2QIvRYnlQvMyn/Renewal-Mobile-App?node-id=2976%3A50734).

[2022-04-20 07:40] AnKar112 commented on #83
Done

[2022-04-20 11:25] #83 closed

[2022-04-22 23:12] d33pspace opened #84 "List button widths on Guest Profile page"
@AnKar112
Hi Anton, just a small problem on the Guest Profile page. It seems that the List buttons (In-Service, Waiting, Finished) are tied to the width of the elements above them, but this can produce odd results based on the content (see screenshots). Can we make the row of list buttons independent? Edward suggests 60% of width of the screen on desktop, or 80% for mobile - or you can stick to Ma

[2022-04-26 06:23] AnKar112 commented on #84
60% for desktop, 80% for mobile - done

[2022-04-27 01:05] #84 closed

[2022-09-23 01:05] d33pspace opened #85 "Main page"
Hi @AnKar112 ... Nice to see you. Hope you are well!

Your updates to the main page look great. Just two requests...

1. I'm sure you noticed in the Figma design there is one row with the Return page icon in it. I'm sure you've allowed for that in the code, but can you please demonstrate one row for us? (See screenshot below.) In the In-Service list, a row will have EITHER the Return icon, or BOTH

[2022-09-23 01:07] d33pspace opened #86 "Take page"
Hi @AnKar112 ... Your work on the Give and Take pages was perfect! Thank you. I just have one question about the Take page.

When the take page is opened, the clothing tag confirmation modal appears. I tested changing the tag number, but the tag number on the Take page is not changed when I do this. Because I'm not a developer I don't know if this is something you do, or something Edward, our back

[2022-09-23 07:57] AnKar112 commented on #86
Done

[2022-09-23 08:00] AnKar112 commented on #85
1 - done, you can check the first row
2 - as you wish. as for me, now they look nice. But we can remove the active state, it's really unnecessary. Changing how these buttons work will take ~two minutes.

[2022-09-23 09:25] d33pspace commented on #86
Perfectly executed, @AnKar112 . Thanks!

[2022-09-23 09:25] #86 closed

[2022-09-23 09:28] d33pspace commented on #85
@AnKar112
1 - Looks great. Thank you!
2 - Thanks for the information. Let's please go with Return, Take and Give buttons all with their respective colors by default and no changes for hover or action. So when the page opens, these buttons should have colors. The Food button and Shower icons are perfect as they are. Do not change them.

[2022-09-23 09:47] AnKar112 commented on #85
Done

[2022-09-24 00:44] d33pspace commented on #85
Hi @AnKar112 ... The Return, Take and Give buttons look great! But somehow the Food button (bowl of rice with chopsticks) is broken now. I liked it exactly how it was before - can you change that one back? 😊

[2022-09-26 06:36] AnKar112 commented on #85
If I get you right, you want that The Return, Take, and Give buttons always have a state with colors, the shower icon always has grey color, and the food icon be with an active\hover state. Am I right? Check it now

[2022-09-27 06:33] d33pspace commented on #85
This is perfect, @AnKar112 ... thank you!

[2022-09-27 06:33] #85 closed